<% var data = {
title: "Sunproof | О нас"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="section main-about position-relative">
    <div class="main__slider-item__left-mask"></div>
    <div class="container container_about-main d-flex justify-content-center flex-column h-100 position-relative">
        <section class="bread bread_bg">
            <div class="container">
                <ul class="bread__list">
                    <li class="bread__item">
                        <a href="index.html" class="bread__link bread__link_bg">
                            Главная
                        </a>
                    </li>
                    <li class="bread__item">
                        <p  class="bread__link bread__link_bg">
                            Каталог
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <h1 class="main__slider-item__title about__main-title">Солнцезащитные системы Sunproof</h1>
        <a href="catalog.html" class="default-button main__slider-item__btn">
            В каталог
        </a>
    </div>
</main>

<section class="sunproof-systems section section-padding">
    <div class="container">
        <h2 class="default-section-title">Sunproof Systems</h2>
        <div class="sunproof-systems__item">
            <div class="sunproof-systems__number">1</div>
            <div class="sunproof-systems__text">
                Sunproof — это профессиональный коллектив, собственное производство,
                10-летний опыт на рынке солнцезащиты, гарантия и сотрудничество
                на доверии.
            </div>
        </div>

        <div class="sunproof-systems__item reverse">
            <div class="sunproof-systems__number reverse">2</div>
            <div class="sunproof-systems__text">
                Мы обслуживаем клиентов в районе Москвы и МО,
                а так же, делаем командировки для нашей команды по всей территории РФ.
            </div>
        </div>

        <div class="sunproof-systems__item">
            <div class="sunproof-systems__number">3</div>
            <div class="sunproof-systems__text">
                Если вы хотите работать с нашей компанией, отлично!
                Если вы хотите делать покупки у нас, супер!
                Наш отдел продаж не будет заставлять вас покупать какие-либо вещи,
                которые вам не нужны или не нужны для вашего дома.
            </div>
        </div>

        <div class="sunproof-systems__item reverse">
            <div class="sunproof-systems__number reverse">4</div>
            <div class="sunproof-systems__text">
                Вы всегда можете быть уверены, что кто-то не получил лучшую цену,
                чем вы. Пожалуйста, помните, у нашей команды, не мы №1, А ВЫ!
            </div>
        </div>

        <div class="sunproof-systems__item">
            <div class="sunproof-systems__number">5</div>
            <div class="sunproof-systems__text">
                На каждом этапе заказа с вами работают профессионалы.
                От первого звонка и до финального самореза на установке вашей солнцезащитной системы.
            </div>
        </div>
    </div>
</section>

<section class="how-we-work section section-padding">
    <div class="container container_how-we-work">
        <h2 class="default-section-title">Как мы работаем:</h2>

        <p class="how-we-work__text how-we-work__text_margin">
            Заказ проходит в несколько этапов.
            В самом начале (сразу после оформления заявки)
            проводится выезд нашего сотрудника на объект для выполнения замеров.
            Затем по готовым меркам изготавливается ваш заказ,
            после чего он доставляется на место и монтируется
        </p>

        <p class="how-we-work__text">
            Услуги и продукты, которые мы предлагаем, включают в себя:
        </p>

        <div class="how-we-work__list-container">
            <ul class="how-we-work__list">
                <li class="how-we-work__item">
                    Выдвижные навесы
                </li>
                <li class="how-we-work__item">
                    Зонты уличные
                </li>
                <li class="how-we-work__item">
                    Стационарные Тенты
                </li>
                <li class="how-we-work__item">
                    Жалюзи всех видов
                </li>
                <li class="how-we-work__item">
                    Наружные рольставни
                </li>
            </ul>

            <ul class="how-we-work__list">
                <li class="how-we-work__item">
                    Шторы ПВХ, завесы ПВХ
                </li>
                <li class="how-we-work__item">
                    Чехлы на уличную мебель
                </li>
                <li class="how-we-work__item">
                    Перголы
                </li>
                <li class="how-we-work__item">
                    Жалюзи всех видов
                </li>
                <li class="how-we-work__item">
                    Наружные рольставни
                </li>
            </ul>
        </div>

        <p class="how-we-work__text">
            Также мы оказываем различные услуги по монтажу и обслуживанию нашей продукции:
        </p>

        <ul class="how-we-work__list w-100">
            <li class="how-we-work__item">
                Замена ткани на маркизах и перголах любого типа
            </li>
            <li class="how-we-work__item">
                Мойка и чистка маркиз и пергол
            </li>
            <li class="how-we-work__item">
                Замена изношенного тканевого покрытия
            </li>
            <li class="how-we-work__item">
                Ремонт изношенных узлов.
            </li>
        </ul>
    </div>
</section>

<section class="orange-bg orange-padding section competitors-offets">
    <div class="container container_competitors-offets about__form">

        <div class="competitors-offets__text competitors-offets__text_reverse">
            <h3 class="white-subtitle">«‎Единственный способ сделать выдающуюся работу — искренне любить то, что делаешь.»</h3>
            <p class="white-description white-description_competitors-offets">
                Стив Джобс (Steve Jobs)
            </p>
        </div>

        <form action="" class="name-phone-form name-phone-form_file">
            <div class="name-phone-form__left">
                <h3 class="name-phone-form__title">У вас остались вопросы?</h3>
                <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
            </div>

            <div class="name-phone-form__inputs name-phone-form__inputs__file">
                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
            </div>
        </form>
    </div>
</section>

<section class="portfolio-preview section section-padding">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title">Портфолио</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<section class="comments section section-padding">
    <div class="container">
        <h2 class="default-section-title">Отзывы</h2>
        <div class="comments-slider">
            <div class="comments-slider__item">
                <div class="comments-slider__item__top">
                    <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                    <div class="d-flex align-items-center">
                        <div class="comments-slider__item__stars">
                            <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                        </div>
                        <p class="comments-slider__item__number">4/5</p>
                    </div>
                </div>

                <p class="comments-slider__item__text">
                    Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время,
                    на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят,
                    работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                    <br>
                    <br>
                    В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                </p>
            </div>

            <div class="comments-slider__item">
                <div class="comments-slider__item__top">
                    <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                    <div class="d-flex align-items-center">
                        <div class="comments-slider__item__stars">
                            <div class="comments-slider__item__stars-in" style="width: 60%;"></div>
                        </div>
                        <p class="comments-slider__item__number">3/5</p>
                    </div>
                </div>

                <p class="comments-slider__item__text">
                    Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время,
                    на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят,
                    работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                    В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время,
                    на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят,
                    работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                    В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время,
                    на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят,
                    работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                    В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время,
                    на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят,
                    работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                    В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                </p>
            </div>

            <div class="comments-slider__item">
                <div class="comments-slider__item__top">
                    <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                    <div class="d-flex align-items-center">
                        <div class="comments-slider__item__stars">
                            <div class="comments-slider__item__stars-in" style="width: 40%;"></div>
                        </div>
                        <p class="comments-slider__item__number">2/5</p>
                    </div>
                </div>

                <p class="comments-slider__item__text">
                    Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время,
                    на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят,
                    работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                    <br>
                    <br>
                    В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                </p>
            </div>
        </div>
        <a href="#" class="show-more show-more_comments default-button">
            Оставить отзыв
        </a>
    </div>
</section>

<section class="orange-bg orange-padding section competitors-offets">
    <div class="container container_competitors-offets">

        <div class="competitors-offets__text">
            <h3 class="white-subtitle">Нашли выгодное предложение у конкурентов?</h3>
            <p class="white-description white-description_competitors-offets">
                Отправь нам это комерческое предложение и
                мы предоставим вам лучшее условие.
            </p>
        </div>

        <form action="" class="name-phone-form name-phone-form_file">
            <div class="name-phone-form__input-file-container">
                <label class="name-phone-form__label">
                    <input class="name-phone-form__input-file" type="file">
                    <img src="img/svg/file-form.svg" alt="" class="name-phone-form__file-img">
                    <p class="name-phone-form__file-img-description">
                        Загрузите файл с предложением
                    </p>
                </label>
            </div>

            <div class="name-phone-form__inputs name-phone-form__inputs__file">
                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
            </div>
        </form>
    </div>
</section>

<section class="last-news section section-padding">
    <div class="container container_last-news">
        <h2 class="default-section-title">Последние новости</h2>

        <div class="last-news__slider slider-3-2-1">
            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>
        </div>

        <a href="" class="show-more default-button show-more_last-news">
            Больше новостей
        </a>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
