<% var data = {
title: "Sunproof | Ламельная пергола"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="section card-premium-pergolas position-relative">
    <div class="main__slider-item__left-mask"></div>
    <div class="container container_about-main d-flex justify-content-center flex-column h-100 position-relative">
        <section class="bread bread_bg">
            <div class="container">
                <ul class="bread__list">
                    <li class="bread__item">
                        <a href="index.html" class="bread__link bread__link_bg">
                            Главная
                        </a>
                    </li>
                    <li class="bread__item">
                        <a href="#" class="bread__link bread__link_bg">
                            Перголы
                        </a>
                    </li>
                    <li class="bread__item">
                        <a href="#" class="bread__link bread__link_bg">
                            Ламельная пергола
                        </a>
                    </li>
                    <li class="bread__item">
                        <p  class="bread__link bread__link_bg">
                            Ламельные перголы Premium
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="main__slider-item__container container">
        <h1 class="main__slider-item__title">Перголы Premium</h1>
        <p class="main__slider-item__description">Эксклюзивное решение от Sunproof</p>
        <a href="#" class="default-button main__slider-item__btn">
            Заказать
        </a>
    </div>
</main>

<section class="categories-preview section-padding overflow-hidden section black-bg">
    <div class="container container_categories-preview">
        <div class="tabs-navigation">
            <a href="#BioclimaticPergolaView" class="tabs-navigation__tab active slider-1-1-1-init" data-navigation="Pergola">Bioclimatic Pergola</a>
            <a href="#BioclimaticPergolaRetractable" class="tabs-navigation__tab slider-1-1-1-init" data-navigation="Pergola">Bioclimatic Pergola retractable</a>
        </div>

        <div class="tabs-container active " id="BioclimaticPergolaView" data-navigation="Pergola">
            <div class="default-slider slider-1-1-1 project__slider">
                <div class="default-slider__item">
                    <img src="img/card-premium-pergolas/2.jpg" alt="" class="default-slider__img">
                </div>

                <div class="default-slider__item">
                    <img src="img/project/2.jpg" alt="" class="default-slider__img">
                </div>

                <div class="default-slider__item">
                    <img src="img/project/2.jpg" alt="" class="default-slider__img">
                </div>
            </div>

            <div class="category-good-cards">
                <div class="category-good-card category-good-card_black-bg">
                    <h3 class="category-good-card__main-container">
                        Bioclimatic Pergola
                    </h3>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Описание</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Моторизованная крыша состоит из вращающихся
                            алюминиевых ламелей. Революционный дизайн позволяет плавно двигаться ламелям под любым углом до 120 градусов.
                        </p>

                        <div class="category-good-card__bottom category-good-card__bottom_black-bg">
                            <p class="category-good-card__price category-good-card__price_black-bg">
                                от 221 800 ₽
                            </p>

                            <button class="default-button category-good-card__btn modal-btn" data-modal="#namePhoneModal">
                                Узнать наличие и цены
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="category-good-main category-good-main_black-bg">Технологические особенности</h2>

            <div class="category-good-cards">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/3.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">End-Point-центрированное вращение</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Эта технология обеспечивает множество преимуществ, таких как целостность, стабильность и герметичность конструкции, благодаря системе центрированного вращения и высокой степени прижима ламелей друг к другу.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/4.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Панель с интегрированным желобом</h2>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/5.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Крыша остается чистой</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Эллипсоидная камера на верхней стороне ламели предотвращает попадание скопившихся материалов во внутреннее пространство во время вращения ламель. Также, благодаря внутреннему наклону в верхней части панелей, обеспечивается идеальный дренаж, предотвращая скопление воды в системе.
                        </p>
                    </div>
                </div>
            </div>

            <h2 class="category-good-main category-good-main_black-bg">Контроль климата</h2>

            <div class="category-good-cards">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/6.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Изоляционные панели</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Панели могут быть заполнены пенополиуританом, который обеспечивает дополнительный комфорт. Это значительно помогает уменьшить конденсацию.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/7.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Воздушные туннели</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Конструкция панели обеспечивает тепло- и звукоизоляцию и снижает уровень конденсации из-за термического разрыва.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/8.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Мульти-уплотнительная система</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Герметизация осуществляется высококачественными прокладочными уплотнителями, обеспечивая абсолютно герметичное пространство под крышей, которое можно использовать в любых погодных условиях.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/9.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Функция закрытия высокого давления</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Система линейного приводапозволяет вам изолировать вашипомещения от суровой непогоды.
                        </p>
                    </div>
                </div>
            </div>

            <div class="pergolas-steps orange-padding dirty-white-bg section-in-tab">
                <div class="container">
                    <h2 class="default-section-title">Наши преголы полностью автоматизированы</h2>
                    <div class="pergolas-steps__content">
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">1</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">Интегрируется в систему умный дом</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">4</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">Управление с ПДУ</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">2</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">Автоматическое освещение по графику</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">5</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">Управление со смартфона</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">3</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">LED-освещение</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">6</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">
                                Открытие и закрытие по сигналу с датчиков дождя и ветра
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="default-button pergolas-steps__btn">Подробнее</a>
                    </div>
                </div>
            </div>

            <h2 class="category-good-main category-good-main_black-bg section-padding pb-0">Преимущества Bioclimatic Pergola</h2>

            <h3 class="category-good-card__title category-good-card__title_black-bg">Модульность</h3>

            <div class="category-good-cards mb-0">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/11.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Широкий спектр возможностей модульной конструкции благодаря гибкому и компактному дизайну.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/4.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Вы можете выбрать оптимальный вариант,  2 модуля, 4 модуля и более.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/5.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Варианты использования</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Наши перголы имеют возможность пристенного и корпусного монтажа, что позволяет внедрять их в любые ваши архитектурные решения.
                        </p>
                    </div>
                </div>
            </div>

            <h2 class="category-good-main category-good-main_black-bg section-padding pb-0">Интегрированная дренажная сиситема</h2>

            <div class="lamella-pergola-design__cards mb-5">
                <div class="lamella-pergola-design__card lamella-pergola-design__card_black-bg">
                    <img src="img/card-premium-pergolas/13.png" alt="" class="lamella-pergola-design__img">
                    <p class="lamella-pergola-design__text">
                        Потоки воды равномерно распределяются по дренажной системе и выводятся через колонны. <br><br>
                        А водоблокирующий барьер блокирует воду, перенаправляя ее в воздушные тунели.
                    </p>
                </div>

                <div class="lamella-pergola-design__card lamella-pergola-design__card_black-bg">
                    <img src="img/card-premium-pergolas/14.png" alt="" class="lamella-pergola-design__img">
                    <p class="lamella-pergola-design__text">
                        Специально разработанные алюминиевые панели направляют воду через интегрированные желоба.
                    </p>
                </div>

                <div class="lamella-pergola-design__card lamella-pergola-design__card_black-bg">
                    <img src="img/card-premium-pergolas/15.png" alt="" class="lamella-pergola-design__img">
                    <p class="lamella-pergola-design__text">
                        Вода выводится через специальные дренажные отверстия в колоннах.
                    </p>
                </div>
            </div>

            <div class="category-good-cards mb-0">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/16.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Возможные боковоые покрытия</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Для создания наружных жилых зон, используемых в течение четырех сезонов, стороны перголы могут быть закрыты различными системами со стеклом, либо со спецальными тканями, а также жалюзи.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="category-good-card__title category-good-card__title_black-bg">Варианты освещения</h3>

            <div class="category-good-cards mb-0">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/17.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Системы освещения по периметру могут быть затемнены для создания идеальной атмосферы. <br> <br>
                            Светодиодные ленты встроены в профиль желоба.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/18.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Линейное освещение. Светодиодные светильники представляют собой модули, расположенные в ламелях.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/19.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Цветовые решения</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Выберите свой цвет или цветовые комбинации (двойной цвет). Мы покрываем наши профили электростатической порошковой краской,используя передовые нанотехнологии.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-container" id="BioclimaticPergolaRetractable" data-navigation="Pergola">
            <div class="default-slider slider-1-1-1 project__slider">
                <div class="default-slider__item">
                    <img src="img/card-premium-pergolas/20.jpg" alt="" class="default-slider__img">
                </div>

                <div class="default-slider__item">
                    <img src="img/project/2.jpg" alt="" class="default-slider__img">
                </div>

                <div class="default-slider__item">
                    <img src="img/project/2.jpg" alt="" class="default-slider__img">
                </div>
            </div>

            <div class="category-good-cards">
                <div class="category-good-card category-good-card_black-bg">
                    <h3 class="category-good-card__main-container">
                        Bioclimatic Pergola retractable
                    </h3>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Описание</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Выдвижной потолок Skyroof дает открытое пространство крыши на 79% от общей крытой площади благодаря синхронному перемещению ламелей.
                            <br> <br>
                            Текст про эту перголу премиум
                        </p>

                        <div class="category-good-card__bottom category-good-card__bottom_black-bg">
                            <p class="category-good-card__price category-good-card__price_black-bg">
                                от 221 800 ₽
                            </p>

                            <button class="default-button category-good-card__btn modal-btn" data-modal="#namePhoneModal">
                                Узнать наличие и цены
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="category-good-main category-good-main_black-bg">Технологические особенности</h2>

            <div class="category-good-cards">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/21.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Ретракционное движение</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Выдвижной потолок Skyroof дает открытое пространство крыши на 79% от общей крытой площади благодаря синхронному перемещению ламелей.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/22.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Синхронное движение ламель</h2>


                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Это специальное синхронизированное движение - новейшая технологическая система, позволяющая одновременно открывать и убирать все ламели.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/23.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Панель с интегрированным желобом</h2>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/24.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Крыша остается чистой</h2>


                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Эллипсоидная камера на верхней стороне ламели предотвращает попадание скопившихся материалов во внутреннее пространство во время вращения ламель. Также, благодаря внутреннему наклону в верхней части панелей, обеспечивается идеальный дренаж, предотвращая скопление воды в системе.
                        </p>
                    </div>
                </div>
            </div>

            <h2 class="category-good-main category-good-main_black-bg">Контроль климата</h2>

            <div class="category-good-cards">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/25.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Изоляционные панели</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Панели могут быть заполнены пенополиуританом, который обеспечивает дополнительный комфорт. Это значительно помогает уменьшить конденсацию.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/26.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Воздушные туннели</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Структура панели обеспечивает достаточный уровень изоляции.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/27.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Режим вентиляции</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Пульт дистанционного управления позволяет освежить воздух одним прикосновение и обеспечить свежий воздух в комнате.
                            <br> <br>
                            Функция "Connexoon" поддерживает создание собственного сценария вентиляции через смартфоны.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/28.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Мульти-уплотнительная система</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Синхронизированные движущиеся панели во время закрывающего движения одновременно давят на прокладки, расположенные на интегрированных балках, и таким образом обеспечивают максимальную изоляцию.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/29.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Блокировка ламелей</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Благодаря синхронному закрывающему движению панелей прокладки на панелях одновременно зажимаются вместе, и между панелями обеспечивается полная изоляция.
                        </p>
                    </div>
                </div>
            </div>

            <div class="pergolas-steps orange-padding dirty-white-bg section-in-tab">
                <div class="container">
                    <h2 class="default-section-title">Наши преголы полностью автоматизированы</h2>
                    <div class="pergolas-steps__content">
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">1</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">Интегрируется в систему умный дом</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">4</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">Управление с ПДУ</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">2</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">Автоматическое освещение по графику</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">5</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">Управление со смартфона</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">3</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">LED-освещение</p>
                        </div>
                        <div class="pergolas-steps__item">
                            <div class="pergolas-steps__number pergolas-steps__number_reverse-color">6</div>
                            <p class="pergolas-steps__text pergolas-steps__text_reverse-color">
                                Открытие и закрытие по сигналу с датчиков дождя и ветра
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="default-button pergolas-steps__btn">Подробнее</a>
                    </div>
                </div>
            </div>

            <h2 class="category-good-main category-good-main_black-bg section-padding pb-0">Преимущества Bioclimatic Pergola</h2>

            <h3 class="category-good-card__title category-good-card__title_black-bg">Модульность</h3>

            <div class="category-good-cards mb-0">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/30.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Широкий спектр возможностей модульной конструкции благодаря гибкому и компактному дизайну.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/31.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Вы можете выбрать оптимальный вариант,  2 модуля, 4 модуля и более. И любые вариации с направленим открывания крыши.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/32.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Варианты использования</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Наши перголы имеют возможность пристенного и корпусного монтажа, что позволяет внедрять их в любые ваши архитектурные решения.
                        </p>
                    </div>
                </div>
            </div>

            <h2 class="category-good-main category-good-main_black-bg section-padding pb-0">Интегрированная дренажная сиситема</h2>

            <div class="lamella-pergola-design__cards mb-5">
                <div class="lamella-pergola-design__card lamella-pergola-design__card_black-bg">
                    <img src="img/card-premium-pergolas/33.png" alt="" class="lamella-pergola-design__img">
                    <p class="lamella-pergola-design__text">
                        Потоки воды равномерно распределяются по дренажной системе и выводятся через колонны. <br> <br>
                        А водоблокирующий барьер блокирует воду, перенаправляя ее в воздушные тунели.
                    </p>
                </div>

                <div class="lamella-pergola-design__card lamella-pergola-design__card_black-bg">
                    <img src="img/card-premium-pergolas/34.png" alt="" class="lamella-pergola-design__img">
                    <p class="lamella-pergola-design__text">
                        Специально разработанные алюминиевые панели направляют воду через интегрированные желоба.
                    </p>
                </div>

                <div class="lamella-pergola-design__card lamella-pergola-design__card_black-bg">
                    <img src="img/card-premium-pergolas/35.png" alt="" class="lamella-pergola-design__img">
                    <p class="lamella-pergola-design__text">
                        Вода выводится через специальные дренажные отверстия в колоннах.
                    </p>
                </div>
            </div>

            <div class="category-good-cards mb-0">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/36.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Возможные боковоые покрытия</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Для создания наружных жилых зон, используемых в течение четырех сезонов, стороны перголы могут быть закрыты различными системами со стеклом, либо со спецальными тканями, а также жалюзи.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/37.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <h2 class="category-good-card__title category-good-card__title_black-bg">Варианты освещения</h2>

                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Системы освещения по периметру могут быть затемнены для создания идеальной атмосферы. <br><br>
                            Светодиодные ленты встроены в профиль желоба.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="category-good-card__title category-good-card__title_black-bg">Цветовые решения</h3>

            <div class="category-good-cards mb-0">
                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/38.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Выберите свой цвет или цветовые комбинации (двойной цвет). Мы покрываем наши профили электростатической порошковой краской,используя передовые нанотехнологии.
                        </p>
                    </div>
                </div>

                <div class="category-good-card">
                    <div class="category-good-card__img-container">
                        <img src="img/card-premium-pergolas/39.png" alt="" class="category-good-card__img">
                    </div>

                    <div class="category-good-card__content">
                        <p class="category-good-card__description category-good-card__description_black-bg">
                            Панели могут быть окрашены в другие цвета,чем основная структура.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="orange-bg orange-padding section competitors-offets">
    <div class="container container_competitors-offets about__form">

        <div class="competitors-offets__text competitors-offets__text_reverse">
            <h3 class="white-subtitle">«‎Единственный способ сделать выдающуюся работу — искренне любить то, что делаешь.»</h3>
            <p class="white-description white-description_competitors-offets">
                Стив Джобс (Steve Jobs)
            </p>
        </div>

        <form action="" class="name-phone-form name-phone-form_file">
            <div class="name-phone-form__left">
                <h3 class="name-phone-form__title">У вас остались вопросы?</h3>
                <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
            </div>

            <div class="name-phone-form__inputs name-phone-form__inputs__file">
                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
            </div>
        </form>
    </div>
</section>

<section class="categories-preview section-padding section black-bg">
    <div class="container container_categories-preview">
        <h2 class="default-section-title default-section-title_white">Рекомендуем к перголам</h2>

        <div class="tabs-container active" id="marquisesView" data-navigation="marquises">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-marquises/39.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Вертикальные маркизы</h3>
                            <p class="catalog-card__description">
                                Маркизой называют навесную конструкцию на сборно-разборном алюминиевом каркасе, выполненную из тентовых тканей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-marquises/40.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Остекление</h3>
                            <p class="catalog-card__description">
                                Светозащитные устройства из вертикальных и горизонтальных пластин, так называемых ламелей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding section additional-options pt-0 black-bg">
    <div class="container container_additional-options">
        <h2 class="default-section-title default-section-title_white">Дополнительные опции</h2>

        <div class="additional-options__cards">
            <a href="#" class="additional-options__card additional-options__card_black-bg">
                <img src="img/additional-options/1.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title additional-options__card__title_black-bg">Автоматическое управление</h3>
                    <p class="additional-options__card__description additional-options__card__description_black-bg">
                        Электродвигатели на пульте управления или радиокнопке,
                        солнечно-ветровая автоматичка и датчики упрощают управление
                        солнцезащитными системами и добавляют комфорт в использовании.
                    </p>
                </div>
            </a>

            <a href="#" class="additional-options__card additional-options__card_black-bg">
                <img src="img/additional-options/2.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title additional-options__card__title_black-bg">LED-освещение и обогрев</h3>
                    <p class="additional-options__card__description additional-options__card__description_black-bg">
                        Освещение террас и веранд в вечернее время добавляет визуальный комфорт,
                        а обогрев сохраняет тепло на террасе при понижении температуры, а также зимой.
                    </p>
                </div>
            </a>

            <a href="#" class="additional-options__card additional-options__card_black-bg">
                <img src="img/additional-options/3.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title additional-options__card__title_black-bg">Умный дом</h3>
                    <p class="additional-options__card__description additional-options__card__description_black-bg">
                        Все автоматические системы солнцезащитных
                        конструкции Sunproof могут интегрироваться с Умным домом.
                    </p>
                </div>
            </a>



            <a href="#" class="additional-options__card additional-options__card_black-bg">
                <img src="img/additional-options/4.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title additional-options__card__title_black-bg">Печать на ткани для маркиз и пергол</h3>
                    <p class="additional-options__card__description additional-options__card__description_black-bg">
                        Печать на маркизах и перголах позволяет брендировать солнцезащитную
                        конструкцию вашим логотипом, а также можно нанести полноцветные изображения для создания уюта.
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="order-measurement section-padding section pt-0 black-bg">
    <div class="container">
        <h2 class="default-section-title default-section-title_white">Закажите бесплатный замер</h2>

        <div class="order-measurement__container">
            <p class="order-measurement__text order-measurement__text_black-bg">
                Обычно, после консультации наши клиенты оставляют заявку на замер. Мы договариваемся на удобное для вас и нас время. За два часа до планируемого времени мы с вами связываемся и выезжаем. <br><br>
                На замер приезжает опытный специалист, как правило это монтажник или бригадир. <br><br>
                На каждый  замер мы берем образцы продукции, технические каталоги и большой каталог с различными видами тканей, чтобы вы детально могли представить ваше изделие и уже руками потрогать материалы. <br><br>
                (бесплатный выезд до 15 км. от МКАД, далее 30 руб./км.) <br><br>
            </p>

            <form class="order-measurement__form">
                <p class="order-measurement__form__text">
                    Закажиет замер и получите подарок от компании Sunproof Systems!
                </p>

                <div class="name-phone-form__inputs name-phone-form__inputs_order">
                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                    </div>

                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                    </div>

                    <input type="submit" class="name-phone-form__submit default-button" value="Заказать замер">
                </div>
            </form>
        </div>
    </div>
</section>

<section class="portfolio-preview section section-padding pt-0 black-bg">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title default-section-title_white">Портфолио</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<section class="last-news pt-0 section section-padding black-bg">
    <div class="container container_last-news">
        <h2 class="default-section-title default-section-title_white">Последние новости</h2>

        <div class="last-news__slider slider-3-2-1">
            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>
        </div>

        <a href="" class="show-more default-button show-more_last-news">
            Больше новостей
        </a>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
