<% var data = {
title: "Sunproof | Роллетные гаражные решетки"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="section category-main category-main_roller-garage-doors position-relative">
    <div class="container container_about-main d-flex justify-content-center flex-column h-100 position-relative">
        <section class="bread bread_bg">
            <div class="container">
                <ul class="bread__list">
                    <li class="bread__item">
                        <a href="index.html" class="bread__link bread__link_bg">
                            Главная
                        </a>
                    </li>
                    <li class="bread__item">
                        <a href="#" class="bread__link bread__link_bg">
                            Роллетные системы
                        </a>
                    </li>
                    <li class="bread__item">
                        <p  class="bread__link bread__link_bg">
                            Роллетные гаражные ворота
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <div class="main-price">
        от 21 800₽, до 150 120₽
    </div>
</main>

<section class="section section-padding">
    <div class="container">
        <h2 class="category-good-main">Роллетные гаражные ворота</h2>

        <div class="category-good-cards mb-0">
            <div class="category-good-card">
                <div class="category-good-card__img-container">
                    <img src="img/card-roller-garage-doors/2.jpg" alt="" class="category-good-card__img">
                </div>

                <div class="category-good-card__content">
                    <h2 class="category-good-card__title">Описание</h2>

                    <p class="category-good-card__description">
                        Текст про рольставни... Рольставни применяются для защиты окон. Это так называемые защитные жалюзи, которые при необходимости сворачиваются в рулон, что делает их более практичными, нежели традиционные защитные решетки.
                    </p>

                    <div class="category-good-card__bottom">
                        <p class="category-good-card__price">
                            от 21 800 ₽
                        </p>

                        <button class="default-button category-good-card__btn modal-btn" data-modal="#namePhoneModal">
                            Заказать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-padding dirty-white-bg overflow-hidden">
    <div class="container">
        <div class="tabs-navigation">
            <a href="#profiles" class="tabs-navigation__tab active slider-0-2-1__init" data-navigation="card-metal-roller-shutters">Профили</a>
            <a href="#management" class="tabs-navigation__tab slider-0-2-1-init" data-navigation="card-metal-roller-shutters">Управление</a>
            <a href="#measuring" class="tabs-navigation__tab" data-navigation="card-metal-roller-shutters">Замер</a>
            <a href="#production" class="tabs-navigation__tab" data-navigation="card-metal-roller-shutters">Изготовление</a>
            <a href="#delivery" class="tabs-navigation__tab" data-navigation="card-metal-roller-shutters">Доставка</a>
            <a href="#mounting" class="tabs-navigation__tab slider-0-2-1-init" data-navigation="card-metal-roller-shutters">Монтаж</a>
            <a href="#cost" class="tabs-navigation__tab" data-navigation="card-metal-roller-shutters">Стоимость</a>
            <a href="#guarantee" class="tabs-navigation__tab" data-navigation="card-metal-roller-shutters">Гарантия</a>
        </div>

        <div class="tabs-container active" id="profiles" data-navigation="card-metal-roller-shutters">
            <h2 class="category-good-main">Типы роллетных профилей</h2>

            <p class="tabs-text">
                Основная часть роллетной системы – это роллетное полотно. Оно состоит из алюминиевых профилей (ламелей) роликовой прокатки или экструдированных профилей.
            </p>

            <h3 class="tabs-subtitle-orange">
                Прокатный профиль
            </h3>

            <div class="img-text-block">
                <img src="img/card-metal-roller-shutters/3.jpg" alt="" class="img-text-block__img">

                <p class="img-text-block__text">
                    Имеет толщину стенки до 0,5 мм и, еще в процессе изготовления рольставни,  заполняется мягкой или твердой пеной. Профиль, выполненный путем роликовой прокатки, прочен, легок и бесшумен в использовании.
                </p>
            </div>

            <h3 class="tabs-subtitle-orange pt-5">
                Профиль экструдированный
            </h3>

            <div class="img-text-block">
                <img src="img/card-metal-roller-shutters/4.jpg" alt="" class="img-text-block__img">

                <p class="img-text-block__text">
                    Позволяет получить профиль с толщиной стенок до 1,5 мм с дополнительным внутренним ребром жесткости, что создает повышенную взломостойкость.
                    Классы взломостойкости подтверждены сертификатами.
                    Типы размеров: Серия Classic AER42,AER44/S AER55/S, а также серия Economy AER44mS, AER55mS.
                </p>
            </div>

            <h2 class="category-good-main pt-5">Основные цвета профилей</h2>

            <p class="tabs-text">
                Вы всегда можете выбрать другой цвет,  просто скажите об этом менеджеру, и мы подберем для вас идеальный цвет профилей.
            </p>

            <img src="img/card-metal-roller-shutters/5.jpg" class="w-100" alt="">

            <h2 class="category-good-main pt-5">Особенности эксплуатации рулонных ворот</h2>

            <p class="tabs-text">
                Рулонные ворота надежно работают в самых сложных погодных условиях. Их владельцам стоит только соблюдать элементарные правила предосторожности:
            </p>

            <div class="advantages-cards slider-0-2-1">
                <div class="advantages-cards__item h-auto py-3 slider-0-2-1__slide">
                    <h4 class="advantages-cards__title">В зимний период</h4>

                    <p class="advantages-cards__text">
                        При намерзании на полотне снега или льда, необходимо постучать по нему. Только послеприступать к подъему.
                    </p>
                </div>

                <div class="advantages-cards__item h-auto py-3 slider-0-2-1__slide">
                    <h4 class="advantages-cards__title">Доверьтесь датчикам</h4>

                    <p class="advantages-cards__text">
                        Существенно повысить безопасность использования рольворот можно с помощью специальных фотоэлементов. Такие датчики блокируют движение полотна вниз при попадании в радиус его действия посторонних предметов и дают команду на движение электропривода вверх.
                    </p>
                </div>

                <div class="advantages-cards__item h-auto py-3 slider-0-2-1__slide">
                    <h4 class="advantages-cards__title">Прислушивайтесь</h4>

                    <p class="advantages-cards__text">
                        При появлении посторонних шумов при открывании ворот — немедленно обращайтесь к специалистам.
                    </p>
                </div>

                <div class="advantages-cards__item h-auto py-3 slider-0-2-1__slide">
                    <h4 class="advantages-cards__title">Не спешите!</h4>

                    <p class="advantages-cards__text">
                        При использовании электропривода доверьте подъем и опускание полотна автоматике. Во избежание поломок и получения травм — воздержитесь от дополнительной помощи руками для ускорения процесса.
                    </p>
                </div>

                <div class="advantages-cards__item h-auto py-3 slider-0-2-1__slide">
                    <h4 class="advantages-cards__title">Соблюдайте читсоту</h4>

                    <p class="advantages-cards__text">
                        Поддерживайте в чистоте ворота и периодически очищайте детали и механизмы конструкции от грязи и пыли.
                    </p>
                </div>
            </div>
        </div>

        <div class="tabs-container" id="management" data-navigation="card-metal-roller-shutters">
            <h2 class="category-good-main">Системы управления</h2>

            <p class="tabs-text">
                Для управления роллетными системами существуют различные варианты: от классических ручных приводов, до современной и надежной автоматики ведущих марок.
            </p>

            <h3 class="tabs-subtitle-orange">
                Ручное управление
            </h3>

            <div class="slider-0-2-1 img-title-text">
                <div class="img-title-text__card slider-0-2-1__slide">
                    <img src="img/card-metal-roller-shutters/9.jpg" alt="" class="img-title-text__img">
                    <h4 class="img-title-text__title">
                        Воротковый привод
                    </h4>
                    <p class="img-title-text__text">
                        Допустимые нагрузки:
                        до 35 кг
                    </p>
                </div>

                <div class="img-title-text__card slider-0-2-1__slide">
                    <img src="img/card-metal-roller-shutters/10.jpg" alt="" class="img-title-text__img">
                    <h4 class="img-title-text__title">
                        Кордовый привод
                    </h4>
                    <p class="img-title-text__text">
                        Допустимые нагрузки:
                        до 80 кг
                    </p>
                </div>

                <div class="img-title-text__card slider-0-2-1__slide">
                    <img src="img/card-metal-roller-shutters/11.jpg" alt="" class="img-title-text__img">
                    <h4 class="img-title-text__title">
                        Пружинно-инерцион-ный механизм
                    </h4>
                    <p class="img-title-text__text">
                        Допустимые нагрузки:
                        от 6 до 100 кг
                    </p>
                </div>
            </div>

            <h3 class="tabs-subtitle-orange mt-5">
                Ручное управление
            </h3>

            <p class="tabs-text">
                Автоматическое управление обеспечивает наиболее удобное и многофункциональное обслуживание роллет. Простым нажатием кнопки можно управлять всеми роллетами одновременно или каждой в отдельности.
                <br>
                Интеллектуальные системы управления обеспечат повышенный уровень комфорта.
                <br>
                Для приведения полотна в движение могут использоваться разнообразные приспособления:
            </p>

            <div class="tech-specifications__photos">
                <div class="tech-specifications__photos-card">
                    <img src="img/card-metal-roller-shutters/12.jpg" alt="" class="tech-specifications__photos-img">
                    <h4 class="img-title-text__title">
                        Пульты дистанционного управления
                    </h4>
                    <p class="img-title-text__text">
                        Такие устройства очень популярны среди владельцев частных гаражей. Сидя в салоне собственного авто, вы открываете ворота простым нажатием кнопки. Это — очень удобно, особенно, в ненастную погоду.
                    </p>
                </div>

                <div class="tech-specifications__photos-card">
                    <img src="img/card-metal-roller-shutters/13.jpg" alt="" class="tech-specifications__photos-img">
                    <h4 class="img-title-text__title">
                        Автоматические выключатели
                    </h4>
                    <p class="img-title-text__text">
                        Открывание рольставней также может производится с помощью кнопки встроенного в стену автоматического выключателя. Такое управление хорошо подходит для складов, хранилищ и автотранспортных предприятий.
                    </p>
                </div>

                <div class="tech-specifications__photos-card">
                    <img src="img/card-metal-roller-shutters/14.jpg" alt="" class="tech-specifications__photos-img">
                    <h4 class="img-title-text__title">
                        Электронные системы доступа (СКУД)
                    </h4>
                    <p class="img-title-text__text">
                        Они приводят в движение полотно при поднесении к считывающему устройству электронной карты. Такие элементы управления широко распространены на паркингах или при въездах на территорию коммерческих или режимных структур.
                    </p>
                </div>
            </div>
        </div>

        <div class="tabs-container" id="measuring" data-navigation="card-metal-roller-shutters">
            <h2 class="category-good-main">Системы управления</h2>

            <p class="tabs-text">
                Замер — это самый ответственный этап в приобретении рольставней,  жалюзи или других видов солнцезащитных систем  для Вашего дома или дачи,  офиса или  магазина. Опираясь на точные цифры замера, учитывая архитектуру строения, конструкцию оконного или дверного  блока и пожелания заказчика, наши специалисты и мастера своего дела, порекомендуют наиболее правильные варианты декора и безопасности Вашего объекта.
                <br> <br>
                Специалист проведет точный замер изделий, определится с возможностью установки оборудования и наиболее удобными для Вас вариантами управления, а также определит объем работ, необходимых для установки изделий, чтобы срок службы и удобство использования было максимальным.
                <br> <br>

                <span class="font-weight-bold">
                    Один из признаков профессионализма — это тщательный подход к своей работе и выезжая на замер, наши специалисты всегда имеют с собой:
                </span>

                <br> <br>
                - Образцы и каталоги всех материалов. <br> <br>
                - Необходимую техническую документацию. <br> <br>
                - Электронные уровни , лазерные и обычные рулетки. <br> <br>
                - Каталог фотографий с выполненными работами. <br> <br>
                - Полный пакет документов, начиная с бланков замера и договорами заканчивая сертификатами и дополнительными материалами о продукции.
            </p>

            <div class="orange-bg orange-padding section-in-tab">
                <p class="default-text white-color container">
                    Мы уважаем Вас и ценим Ваше время, поэтому подбираем для Вас наиболее оптимальный день и время выезда нашего специалиста. Выезд можно оформить как в выходной день, так и после работы в вечернее время. Замер — услуга, не обязывающая Вас к немедленному заключению договора. Это решение зависит только от Вас!
                </p>
            </div>

            <div class="tabs-text mt-5 mb-3">
                <h4 class="tabs-subtitle">
                    Стоимость выезда на замер
                </h4>

                <div class="d-flex mb-4">
                    <ul class="col-6 pl-0">
                        <li class="mb-4">
                            В пределах МКАД
                        </li>
                        <li class="mb-4">
                            До 30 км от МКАД
                        </li>
                        <li class="mb-4">
                            До 50 км от МКАД
                        </li>
                        <li class="mb-4">
                            До 80 км от МКАД
                        </li>
                    </ul>

                    <ul class="col-6 pr-0">
                        <li class="mb-4">
                            — бесплатно
                        </li>
                        <li class="mb-4">
                            — 1500 рублей.
                        </li>
                        <li class="mb-4">
                            — 2000 рублей.
                        </li>
                        <li class="mb-4">
                            — 2500 рублей.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tabs-text mb-0">
                Вы можете заключить договор на месте с нашим специалистом  или приехать в офис компании. <br> <br>
                При заказе необходимо произвести предварительную оплату в размере стоимости товара, что составляет ~ 50-70 % цены договора. Окончательный расчет производится после выполнения работ по договору и подписания бухгалтерских документов.
                <br> <br>
                При заключении договора на месте стоимость выезда на замер входит в общую стоимость заказа! То есть замер для Вас становится бесплатным!
            </div>
        </div>

        <div class="tabs-container" id="production" data-navigation="card-metal-roller-shutters">
            <h2 class="category-good-main">Изготовление</h2>

            <p class="tabs-text">
                Следующим этапом после замера и составления необходимых документов, является процесс изготовления конструкций. Трудоемкий и ответственный процесс изготовления роллетных конструкций позволяет создавать современные, функциональные конструкции. Чтобы изделия имели законченный вид на дверном или оконном проеме, при производстве рольставней выполняется множество технических операций и используется специализированное оборудование. Результат – получение высококачественных и надежных роллетных конструкций, которые надежно защитят ваш дом от несанкционированного вторжения, негативных влияний факторов окружающей среды, помогут создать в помещение комфорт и уют, избавят от излишне публичности.
                <br> <br>
                Собственная производственная база и  складской комплекс позволяет выполнять любые объемы заказов в кратчайшие сроки, при этом сохранять высокое качество продукции, а также поддерживать конкурентную цену.
            </p>

            <p class="tabs-orange-big-text">
                Срок изготовления роллетных систем от 1 рабочего дня!
            </p>
        </div>

        <div class="tabs-container" id="delivery" data-navigation="card-metal-roller-shutters">
            <h2 class="category-good-main">Доставка</h2>

            <p class="tabs-text">
                Очень важно, чтобы изделия доехали до Вас в целости и сохранности — чистыми, без царапин и прочих повреждений. Поэтому мы доставляем их к месту монтажа в закрытой анти ударной упаковке в день монтажа.
                <br> <br>
                Сотрудники доставки при выполнении своей работы соблюдают определенные правила и придерживаются к нескольким принципиальным условиям:
                <br> <br>
                Своевременная доставка происходит в удобное для заказчика время.
                <br> <br>
                Предварительно в обязательном порядке созваниваемся с заказчиком в день доставки.
                <br> <br>
                Продукция поставляется в защитной упаковке, без ее повреждений
                <br> <br>
                Заказы иногородних клиентов  мы тщательно готовим к отправке, упаковывая изделия  в жесткую упаковку, и отправляем их через крупные транспортные компании.
            </p>

            <p class="tabs-text font-weight-bold mb-0">
                Доставка по Москве в пределах МКАД – 500 рублей.
            </p>
        </div>

        <div class="tabs-container " id="mounting" data-navigation="card-metal-roller-shutters">
            <h2 class="category-good-main">Виды монтажа роллетных ворот</h2>

            <p class="tabs-text">
                Монтаж роллет можно производить как на оконные, так и на дверные проемы, как снаружи, так и изнутри, что позволяет исполнять любые пожелания заказчика, связанные с особенностями дизайна.
                <br> <br>
                Монтаж роллетных систем можно запланировать на этапе проектирования нового объекта или осуществить на построенном объекте.
            </p>

            <div class="tech-specifications__photos">
                <div class="tech-specifications__photos-card">
                    <img src="img/card-metal-roller-shutters/15.jpg" alt="" class="tech-specifications__photos-img">
                    <h4 class="img-title-text__title">
                        Встроенный монтаж
                    </h4>
                    <p class="img-title-text__text">
                        коробом внутрь
                    </p>
                </div>

                <div class="tech-specifications__photos-card">
                    <img src="img/card-metal-roller-shutters/16.jpg" alt="" class="tech-specifications__photos-img">
                    <h4 class="img-title-text__title">
                        Встроенный монтаж
                    </h4>
                    <p class="img-title-text__text">
                        коробом наружу
                    </p>
                </div>

                <div class="tech-specifications__photos-card">
                    <img src="img/card-metal-roller-shutters/17.jpg" alt="" class="tech-specifications__photos-img">
                    <h4 class="img-title-text__title">
                        Комбинированный монтаж
                    </h4>
                    <p class="img-title-text__text">
                        коробом наружу
                    </p>
                </div>
            </div>

            <div class="orange-bg orange-padding section-in-tab">
                <div class="container">
                    <h4 class="tabs-subtitle white-color">На заметку:</h4>
                    <p class="default-text white-color">
                        Стоит предусмотреть установку защитных рольставней на стадии строительства. В этом случае защитный короб и направляющие будут спрятаны в толще стены, что не только придаст более стильный и эстетичный вид дому в целом, но и создаст дополнительную защиту, поскольку в этом случае рольставни будут выглядеть снаружи как цельное монолитное полотно.
                    </p>
                </div>
            </div>

            <div class="section-padding pb-0">
                <h2 class="category-good-main">Виды защиты коробов</h2>

                <p class="tabs-text">
                    Широкий ассортимент защитных коробов позволяет выполнять любые задачи. Защитные короба бывают 20 и 40 градусные, круглые и полукруглые, а также встроенные.
                    <br> <br>
                    Типоразмеры от 125 до 405 мм.
                </p>

                <div class="slider-0-2-1 box-slider">
                    <div class="slider-0-2-1__slide box-slider__slide">
                        <img src="img/card-metal-roller-shutters/18.png" alt="" class="box-slider__img">
                        <h4 class="img-title-text__title">
                            Защитный короб круглый
                        </h4>
                    </div>

                    <div class="slider-0-2-1__slide box-slider__slide">
                        <img src="img/card-metal-roller-shutters/19.png" alt="" class="box-slider__img">
                        <h4 class="img-title-text__title">
                            Защитный короб круглый
                        </h4>
                    </div>

                    <div class="slider-0-2-1__slide box-slider__slide">
                        <img src="img/card-metal-roller-shutters/20.png" alt="" class="box-slider__img">
                        <h4 class="img-title-text__title">
                            Защитный короб круглый
                        </h4>
                    </div>

                    <div class="slider-0-2-1__slide box-slider__slide">
                        <img src="img/card-metal-roller-shutters/21.png" alt="" class="box-slider__img">
                        <h4 class="img-title-text__title">
                            Защитный короб круглый
                        </h4>
                    </div>
                </div>

                <p class="tabs-text mb-0 orange-padding">
                    Монтаж рольставней — это многоэтапный и сложный процесс, требующий наличия определенных знаний и владения информацией обо всех нюансах, связанных с данным этапом. Для того чтобы функциональные, прочные и качественные конструкции были легки в эксплуатации и активно вами использовались на протяжении значительного времени, доверить монтаж следует профессионалам.
                    <br> <br>
                    Наша компания качественно, в краткие сроки осуществляет монтаж рольставней любого уровня сложности и объёмов в точном соответствии с обязательными технологическими процессами.
                    <br> <br>
                    Монтаж предполагает применение специального электрооборудования. В нашей компании используется только высококачественное, надежное оборудование, что значительно упрощает и уменьшат время сборки и установки. После монтажа рольставней и введения их в эксплуатацию нашими экспертами осуществляется гарантийное и послегарантийное обслуживание конструкций. В случае серьезных механических повреждений выполняем ремонтные работы.
                    <br> <br>
                    Демонтаж старых конструкций. Если предварительно при замере продукции было согласовано с заказчиком, о демонтаже конструкций мешающих установке новой продукции, то это производится нашими специалистами и по желанию клиента, осуществляем утилизацию старых конструкций
                    <br> <br>
                    Вывоз мусора и тары. Для нас стало обыденном делом, когда монтажники убирают и вывозят своими силами крупный мусор и упаковочную тару. Хотим Вам напомнить о том что, к сожалению влажную уборку помещений монтажники не осуществляют
                </p>

                <h4 class="tabs-subtitle">
                    Цены на монтаж рольставен
                </h4>

                <div class="d-flex justify-content-between tabs-text">
                    <ul class="col-6 pl-0">
                        <li class="mb-4">Стоимость монтажа рольставней</li>
                        <li>Стоимость демонтажа старых рольставней</li>
                    </ul>
                    <ul class="col-6 pr-0">
                        <li class="mb-4">— от 1500 рублей.</li>
                        <li>— от 2500 рублей.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tabs-container" id="cost" data-navigation="card-metal-roller-shutters">
            <h2 class="category-good-main">Стоимость</h2>

            <p class="tabs-text">
                Стоимость роллетных систем всегда индивидуальна, ведь все зависит, от выбранного типа монтажа, профиля, размера и вида управления. Для наших клиентов мы можем предоставить калькулятор расчета стоимости продукции ГК «АЛЮТЕХ».
            </p>


            <div class="categories-preview__frame">
                <iframe src="//calc.alute.ch/#?alutsize=&amp;email=zakaz@sunproofpro.ru&amp;url=https://sunproofpro.ru/product-category/rolletnye-sistemy/&amp;css=&amp;lang=ru&amp;type=&amp;calc=['gate','shutter','ads400']&amp;alutpanels=&amp;alutseries=&amp;alutmount=&amp;alutbox=&amp;alutcolor=&amp;alutcontrol=&amp;alutoptions=&amp;alutregion=51490" width="100%" height="941" id="alutech-iframe" scrolling="no" frameborder="0"></iframe>
            </div>
        </div>

        <div class="tabs-container" id="guarantee" data-navigation="card-metal-roller-shutters">
            <h2 class="category-good-main">Гарантия</h2>

            <p class="tabs-text">
                Данные гарантийные обязательства включают в себя: качество крепёжных элементов, деталей и систем, обеспечение жёсткой фиксации изделий, соблюдение расположения и конфигурации крепёжных элементов.
                <br> <br>
                Бесплатная гарантия подразумевает обслуживание изделия в случае обнаружения дефектов, связанных: с материалами из которых оно изготовлено и качества проведения монтажных работ.
            </p>

            <h2 class="category-good-main">Сервисное обслуживание и ремонт</h2>

            <p class="tabs-text mb-0">
                Бывает, рольставни и ворота ломаются, либо сами по себе, либо благодаря чей-нибудь помощи, и требуют ремонта. Чтобы это происходило как можно реже — нужно соблюдать рекомендации по эксплуатации.
                <br> <br>
                А если случай все же наступил, то можете воспользоваться услугой по ремонту  рольставеней.
            </p>

            <div class="section-padding">
                <div class="orange-bg orange-padding section-in-tab">
                    <div class="container">
                        <h2 class="center-title">
                            <span class="center-title_light">Требуется произвести срочный ремонт рольставен в Москве и МО? </span>
                            <br>
                            Мы готовы в этом помочь!
                        </h2>

                        <div class="numbers-with-form">
                            <div class="numbers-with-form__item">
                                <div class="numbers-with-form__number">1</div>
                                <div class="numbers-with-form__text">Отправим мастера на объект и выясним причину неисправности;</div>
                            </div>

                            <div class="numbers-with-form__item">
                                <div class="numbers-with-form__number">2</div>
                                <div class="numbers-with-form__text">Составим акт осмотра изделий и оговорим стоимость ремонта;</div>
                            </div>

                            <div class="numbers-with-form__item">
                                <div class="numbers-with-form__number">3</div>
                                <div class="numbers-with-form__text">Если поломка незначительная, по возможности, отремонтируем сразу;</div>
                            </div>

                            <div class="numbers-with-form__item">
                                <div class="numbers-with-form__number">4</div>
                                <div class="numbers-with-form__text">Если ремонт сложный и требует замены, например, электропривода или переборки полотна, поставим комплектующие в кротчайшие сроки и сразу приступим к ремонту.</div>
                            </div>
                        </div>

                        <form action="" class="big-form">
                            <h4 class="big-form__title">Хотите получить консультацию или вызвать мастера?</h4>


                            <div class="big-form__columns">
                                <div class="big-form__column">
                                    <p class="big-form__text">Оставьте свой номер и мы вам перезвоним</p>

                                    <div class="big-form__inputs">
                                        <div class="position-relative">
                                            <p class="input-error">Ошибка! Заполните поле</p>
                                            <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                                            <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                                        </div>

                                        <div class="position-relative">
                                            <p class="input-error">Ошибка! Заполните поле</p>
                                            <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                                            <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                                        </div>

                                        <input type="submit" class="name-phone-form__submit default-button w-100" value="Отправить">
                                    </div>
                                </div>

                                <div class="big-form__column">
                                    <p class="big-form__text">
                                        Или позвоните нам
                                    </p>

                                    <a href="tel: +7(495)128-97-28" class="big-form__phone">+7(495)128-97-28</a>

                                    <p class="big-form__text">
                                        Наши мастера обслуживают, делают ремонт рольставен недорого, срочно и на совесть.
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between tabs-text">
                <ul>
                    <li class="mb-4 d-flex align-top">
                        <span class="col-6 pl-0">Выезд мастера по Москве в пределах МКАД  и диагностика неисправности рольставни</span>
                        <span class="col-6 pr-0">— 1500 рублей.</span>
                    </li>
                    <li class="mb-4 d-flex align-top">
                        <span class="col-6 pl-0">Выезд мастера по Московской области и диагностика неисправности рольставни </span>
                        <span class="col-6 pr-0">— 2000 рублей.</span>
                    </li>
                    <li class="mb-4 d-flex align-top">
                        <span class="col-6 pl-0">ВСрочный выезд мастера по Москве в пределах МКАД  и диагностика</span>
                        <span class="col-6 pr-0">— 2500 рублей.</span>
                    </li>
                    <li class="mb-4 d-flex align-top">
                        <span class="col-6 pl-0">Срочный выезд мастера по Московской области и диагностика неисправности рольставни</span>
                        <span class="col-6 pr-0">— 3500 рублей.</span>
                    </li>
                    <li class="d-flex align-top">
                        <span class="col-6 pl-0">Выезд мастера в выходной или праздничный день</span>
                        <span class="col-6 pr-0">— договорная</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section orange-padding orange-bg">
    <div class="container">
        <h2 class="default-section-title default-section-title_white">Почему мы ?</h2>

        <div class="who-we2__numbers">
            <div class="who-we__numbers__item">
                <div class="who-we__numbers__item__number">12</div>
                <p class="who-we__numbers__item__text">
                    Предоставляем гарантию на всю продукцию и все виды работ от 12 месяцев
                </p>
            </div>

            <div class="who-we__numbers__item">
                <div class="who-we__numbers__item__number">5</div>
                <p class="who-we__numbers__item__text">
                    Приводите друзей, обращайтесь повторно и получайте от 5% скидки
                </p>
            </div>

            <div class="who-we__numbers__item">
                <div class="who-we__numbers__item__number">!</div>
                <p class="who-we__numbers__item__text">
                    Приезжаем в кратчайшие сроки, чтобы подтянуть, отрегулировать, заменить
                </p>
            </div>

            <div class="who-we__numbers__item">
                <div class="who-we__numbers__item__number">10</div>
                <p class="who-we__numbers__item__text">
                    Десятилетний отпыт работы. Индивидуальный подход
                </p>
            </div>
        </div>

        <div class="container container_competitors-offets">
            <form action="" class="name-phone-form">
                <div class="name-phone-form__left">
                    <h3 class="name-phone-form__title">У вас остались вопросы?</h3>
                    <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
                </div>

                <div class="name-phone-form__inputs">
                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                    </div>

                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                    </div>

                    <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
                </div>
            </form>

            <div class="btns-container-categories">
                <button class="default-button default-button_white btns-container-categories__btn">
                    Примеры работ
                </button>

                <button class="default-button default-button_white btns-container-categories__btn modal-btn" data-modal="#findOutprices">
                    Узнать цены
                </button>

                <button class="default-button default-button_white btns-container-categories__btn">
                    Видеообзор
                </button>
            </div>
        </div>
    </div>
</section>

<section class="section-padding section additional-options">
    <div class="container container_additional-options">
        <h2 class="default-section-title">Дополнительные опции</h2>

        <div class="additional-options__cards">
            <a href="#" class="additional-options__card">
                <img src="img/additional-options/1.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title">Автоматика</h3>
                    <p class="additional-options__card__description">
                        Маркизой называют навесную конструкцию на сборно-разборном алюминиевом каркасе,
                        выполненную из тентовых тканей.
                    </p>
                </div>
            </a>

            <a href="#" class="additional-options__card">
                <img src="img/additional-options/3.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title">Умный дом</h3>
                    <p class="additional-options__card__description">
                        Все автоматические системы солнцезащитных
                        конструкции Sunproof могут интегрироваться с Умным домом.
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="order-measurement section-padding section pt-0">
    <div class="container">
        <h2 class="default-section-title">Закажите бесплатный замер</h2>

        <div class="order-measurement__container">
            <p class="order-measurement__text">
                Обычно, после консультации наши клиенты оставляют заявку на замер. Мы договариваемся на удобное для вас и нас время. За два часа до планируемого времени мы с вами связываемся и выезжаем. <br><br>
                На замер приезжает опытный специалист, как правило это монтажник или бригадир. <br><br>
                На каждый  замер мы берем образцы продукции, технические каталоги и большой каталог с различными видами тканей, чтобы вы детально могли представить ваше изделие и уже руками потрогать материалы. <br><br>
                (бесплатный выезд до 15 км. от МКАД, далее 30 руб./км.) <br><br>
            </p>

            <form class="order-measurement__form">
                <p class="order-measurement__form__text">
                    Закажиет замер и получите подарок от компании Sunproof Systems!
                </p>

                <div class="name-phone-form__inputs name-phone-form__inputs_order">
                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                    </div>

                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                    </div>

                    <input type="submit" class="name-phone-form__submit default-button" value="Заказать замер">
                </div>
            </form>
        </div>
    </div>
</section>

<section class="portfolio-preview section section-padding pt-0">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title">Портфолио</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<section class="last-news section section-padding pt-0">
    <div class="container container_last-news">
        <h2 class="default-section-title">Последние новости</h2>

        <div class="last-news__slider slider-3-2-1">
            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>
        </div>

        <a href="" class="show-more default-button show-more_last-news">
            Больше новостей
        </a>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
