<% var data = {
title: "Sunproof | Полукруглая корзинная маркиза"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="section category-main category-main_semi-circular-marqises position-relative">
    <div class="container container_about-main d-flex justify-content-center flex-column h-100 position-relative">
        <section class="bread bread_bg">
            <div class="container">
                <ul class="bread__list">
                    <li class="bread__item">
                        <a href="index.html" class="bread__link bread__link_bg">
                            Главная
                        </a>
                    </li>
                    <li class="bread__item">
                        <a href="#" class="bread__link bread__link_bg">
                            Корзинные маркизы
                        </a>
                    </li>
                    <li class="bread__item">
                        <p  class="bread__link bread__link_bg">
                            Полукруглая корзинная маркиза
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <div class="main-price">
        от 21 800₽, до 150 120₽
    </div>
</main>

<section class="section section-padding">
    <div class="container">
        <h2 class="category-good-main">Полукруглая корзинная маркиза</h2>

        <div class="category-good-cards mb-0">
            <div class="category-good-card">
                <div class="category-good-card__img-container">
                    <img src="img/card-semi-circular-marqises/2.jpg" alt="" class="category-good-card__img">
                </div>

                <div class="category-good-card__content">
                    <h2 class="category-good-card__title">Описание</h2>

                    <p class="category-good-card__description">
                        Корзинные (купольные) маркизы представляют собой складные козырьки из плотного акрилового полотна на металлических опорных лучах.
                        <br> <br>
                        Эффективно защищают от солнца, а также придают зданию особый колорит – невозможно представить себе легендарные парижские кафе или московские улочки без этих привлекательных изделий, которые так изящно вписываются в архитектуру городов.
                    </p>

                    <div class="category-good-card__bottom">
                        <p class="category-good-card__price">
                            от 21 800 ₽
                        </p>

                        <button class="default-button category-good-card__btn modal-btn" data-modal="#namePhoneModal">
                            Заказать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories-preview section-padding section dirty-white-bg">
    <div class="container container_categories-preview">

        <div class="tabs-navigation">
            <a href="#technicalParameters" class="tabs-navigation__tab active slider-1-1-1-init" data-navigation="card-semi">Технические характеристики</a>
            <a href="#productionAndInstallation" class="tabs-navigation__tab slider-1-1-1-init" data-navigation="card-semi">Производство и монтаж</a>
            <a href="#repairAndMaintenance" class="tabs-navigation__tab slider-1-1-1-init" data-navigation="card-semi">Ремонт и обслуживание</a>
            <a href="#guarantee" class="tabs-navigation__tab slider-1-1-1-init" data-navigation="card-semi">Гарантия</a>
        </div>

        <div class="tabs-container active" id="technicalParameters" data-navigation="card-semi">
            <div class="tech-specifications section-padding py-0">
                <h2 class="category-good-main">Технические характеристики</h2>

                <ul class="tech-specifications__list section-padding pt-0">
                    <li class="tech-specifications__item">
                        <span>
                                Ширина
                        </span>
                        <span>
                                до 6 м
                         </span>
                    </li>

                    <li class="tech-specifications__item">
                            <span>
                             Вынос
                            </span>
                        <span>
                                до 1,8 м
                            </span>
                    </li>

                    <li class="tech-specifications__item">
                            <span>
                              Управление
                            </span>
                        <span>
                             Ручное и автоматичеокое
                            </span>
                    </li>
                </ul>

                <h2 class="category-good-main">Опции маркиз</h2>

                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/card-semi-circular-marqises/3.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Автоматическое
                                управление</p>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/card-semi-circular-marqises/3.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Автоматическое
                                управление</p>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/card-semi-circular-marqises/3.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Автоматическое
                                управление</p>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/card-semi-circular-marqises/3.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Автоматическое
                                управление</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-container" id="productionAndInstallation" data-navigation="card-semi">
            <h2 class="default-section-title">Производство и монтаж</h2>

            <p class="tabs-text">
                Наша компания SunProof Systems предлагает Вам качественное изготовление маркиз любого размера, сложности и оформления, которые без преувеличения послужат многие годы, гарантируя надежную защиту от солнца и непогоды.
            </p>

            <h4 class="tabs-subtitle">Доставка</h4>

            <p class="tabs-text">
                Вы можете заказать доставку готовых изделий в любую точку России! Бесплатно до терминала вашей грузовой компании. Мы предлагаем доставку по Москве и Московской области собственным автотранспортом. Ваши маркизы будут доставлены оперативно и точно к назначенному Вами времени.
                <br> <br>
                Доставка по Москве в пределах МКАД — бесплатно
            </p>

            <h4 class="tabs-subtitle">Профессиональный монтаж</h4>

            <p class="tabs-text  mb-0">
                Установка маркиз, а также демонтаж старых маркиз, осуществляется нашими опытными и высокопрофессиональными специалистами, которые выполняют все работы оперативно и качественно, соблюдая предъявленные нормы и требования. А также компания SunProof Systems выполняет сложные работы с привлечением промышленных альпинистов и дополнительной техники. Стоимость монтаж
            </p>
        </div>

        <div class="tabs-container" id="repairAndMaintenance" data-navigation="card-semi">
            <h2 class="default-section-title">Ремонт и обслуживание</h2>

            <p class="tabs-text">
                Вашей маркизе требуется ремонт или регулировка? Мы выполним эту работу наиболее быстро и качественно. Наш опыт в производстве маркиз позволяет нам быстро определять причину выхода маркизы из строя, все запасные части для маркиз любых размеров постоянно в наличии на наших складах.
                <br> <br>
                Если Вы покупали маркизу в другой фирме и срок гарантии у вас закончился, то Вы можете обратиться к нам за техническим обслуживанием и ремонтом.
                <br> <br>
                Не соглашайтесь сразу демонтировать маркизу и увозить ее на производство, это дорого и неправильно. В большинстве случаев ремонт производится на месте.
                <br> <br>
                Специалист приедет к Вам с необходимыми деталями и устранит поломку, это сэкономит ваше время и деньги.
                <br> <br>
                Сфотографируйте поломку и маркизу целиком и пришлите нам со своими координатами для связи на <a
                    href="mailto: info@sunproofpro">info@sunproofpro</a>. На установленные нами детали мы даем гарантию, которая установлена производителем данной запчасти.
            </p>

            <h2 class="default-section-title">Замена ткани</h2>

            <p class="tabs-text">
                Если вы хотите сменить цветовую гамму ткани, поменять ткань ввиду ее долгого использования (выгорела, стала пропускать влагу, порвалась и т.п.), то Вы можете обратиться в нашу компанию. Если Вы не нашли подходящую для себя ткань, то мы закажем маркизную ткань у любого производителя, так как мы работаем со многими поставщиками. Также мы можем произвести монтаж-демонтаж ткани, пошив и доставку ткани.
            </p>

            <h2 class="default-section-title">Мойка маркиз</h2>

            <p class="tabs-text mb-0">
                Как правило, не реже, чем один раз в год после зимы ткань на маркизах надо мыть. Самостоятельно этого делать не стоит, так как можно повредить конструкцию, вывести из строя автоматику, вымыть всю пропитку с ткани, и она будет пропускать воду.
                <br> <br>
                Наша компания для мойки маркиз использует аппарат высокого давления, специальные средства для акриловых тканей и водоотталкивающие пропитки. Если у маркизы сильное загрязнение, то приводить маркизу в порядок необходимо в химчистке. При этом мы выполним все работы по монтажу-демонтажу ткани и ее доставке.
                <br> <br>
                Стоимость мойки зависит от степени загрязнения ткани, возможности подключения на месте к воде и электричеству, этажности выполнения работ, времени выполнения работ (день или, при невозможности работать днем, ночь).
            </p>
        </div>

        <div class="tabs-container" id="guarantee" data-navigation="card-semi">
            <h2 class="default-section-title">Гарантия</h2>

            <p class="tabs-text mb-0">
                В нашей компании действует Сервисный отдел, в который Вы всегда можете обратиться для гарантийного и постгарантийного обслуживания, и специалисты Сервисного отдела оперативно придут Вам на помощь. Как правило, гарантия может быть от 1 года до 5 лет в зависимости от фирмы-производителя комплектующих и автоматики. При соблюдении всех правил эксплуатации и внимательном отношении к изделию срок службы маркизы не ограничен.
            </p>
        </div>
    </div>
</section>

<section class="section pergolas-steps orange-padding orange-bg">
    <div class="container">
        <h2 class="default-section-title default-section-title_white">Наши преголы полностью автоматизированы</h2>

        <div class="pergolas-steps__content">
            <div class="pergolas-steps__item">
                <div class="pergolas-steps__number">1</div>
                <p class="pergolas-steps__text">
                    Интегрируется в систему умный дом
                </p>
            </div>

            <div class="pergolas-steps__item">
                <div class="pergolas-steps__number">4</div>
                <p class="pergolas-steps__text">
                    Управление с ПДУ
                </p>
            </div>

            <div class="pergolas-steps__item">
                <div class="pergolas-steps__number">2</div>
                <p class="pergolas-steps__text">
                    Автоматическое освещение по графику
                </p>
            </div>

            <div class="pergolas-steps__item">
                <div class="pergolas-steps__number">5</div>
                <p class="pergolas-steps__text">
                    Управление со смартфона
                </p>
            </div>

            <div class="pergolas-steps__item">
                <div class="pergolas-steps__number">3</div>
                <p class="pergolas-steps__text">
                    LED-освещение
                </p>
            </div>

            <div class="pergolas-steps__item">
                <div class="pergolas-steps__number">6</div>
                <p class="pergolas-steps__text">
                    Открытие и закрытие по сигналу с датчиков дождя и ветра
                </p>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a href="#" class="default-button_white default-button pergolas-steps__btn">
                Подробнее
            </a>
        </div>
    </div>
</section>

<section class="categories-preview section-padding dirty-white-bg section">
    <div class="container container_categories-preview">
        <h2 class="default-section-title">Ткани для маркиз</h2>

        <p class="categories-preview__top-text">
            Среди более чем 100 моделей наших солнцезащитных тканей, вы наверняка найдете именно ту,
            которая на все 100% будет соответствовать вашим самым требовательным запросам!
        </p>

        <div class="tabs-navigation">
            <a href="#fabricsForMarquisesView" class="tabs-navigation__tab slider-0-2-1-init active" data-navigation="fabrics-for-marquises">Акриловые ткани</a>
            <a href="#fabricsForMarquisesAsIntended" class="tabs-navigation__tab slider-0-2-1-init" data-navigation="fabrics-for-marquises">ПВХ мембраны</a>
        </div>

        <div class="tabs-container active" id="fabricsForMarquisesView" data-navigation="fabrics-for-marquises">
            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/3.png" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Акриловые ткани  SATTLER. Австрийская компания SATLLER производит
                    акриловые ткани стойкого цвета.Наши специалисты помогут вам подобрать необходимую ткань.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/2.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">LUMERA 3D</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/41.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">LUMERA</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/42.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">ELEMENTS</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/43.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">ELEMENTS SOLIDS</h4>
                        </div>
                    </div>
                </div>
            </div>

            <button class="show-more default-button modal-btn" data-modal="#clothColor0">
                Подбор ткани онлайн
            </button>
        </div>

        <div class="tabs-container" id="fabricsForMarquisesAsIntended" data-navigation="fabrics-for-marquises">
            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/4.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Запатентованная во всем мире технология Précontraint Serge Ferrari,
                    заключается в специальном преднатяжении волокон ткани перед покрытием их слоем ПВХ.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/5.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Soltis 86</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/6.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Soltis 96</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/7.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Soltis W96</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/8.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Soltis 92</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/9.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Batyline</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/10.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Гордость индустрии технического текстиля, компания Dickson стала
                    мировым эталоном в области производства высококачественных тканей для использования вне помещений.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/11.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Sunvision</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/12.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Sunworker Cristal</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/13.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Sunvision</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/14.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Гордость индустрии технического текстиля, компания Dickson стала
                    мировым эталоном в области производства высококачественных тканей для использования вне помещений.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/15.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Serge 1%</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/16.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Serge 600</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/17.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Serge 600 Solar</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/18.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Serge 600 BO Lunar</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/19.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    С тех пор как Sauleda была впервые основана в 1897 году,
                    она преследовала одну цель: производство высококачественных, дизайнерских тканей.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/20.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Screen Out</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/21.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Благодаря использованию передовых технологий iDeco занимает
                    лидирующие позиции на рынке автоматики для дома..
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/22.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Screen Collection</h4>
                        </div>
                    </div>
                </div>
            </div>

            <button class="show-more default-button modal-btn" data-modal="#clothColor0">
                Подбор ткани онлайн
            </button>
        </div>
    </div>
</section>

<section class="section section-padding dirty-white-bg pt-0">
    <div class="container">
        <h2 class="default-section-title">Кому подойдут полукруглые корзинные маркизы?</h2>

        <div class="lamellar-whom-cards">
            <div class="lamellar-whom-cards__card">
                <img src="img/card-lamellar-pergolas/12.jpg" alt="" class="lamellar-whom-cards__img">
                <h4 class="lamellar-whom-cards__title">Для владельцев ресторанов, кафе, баров</h4>
                <p class="lamellar-whom-cards__text">
                    Защитите свои помещения, окна и входные группы окна от солнца и дождя. <br>
                    Нанесите изображение на маркизу и она прослужит вам, как вывеска.
                </p>
            </div>

            <div class="lamellar-whom-cards__card">
                <img src="img/card-lamellar-pergolas/13.jpg" alt="" class="lamellar-whom-cards__img">
                <h4 class="lamellar-whom-cards__title">Для владельцев другого бизнеса, связанного с отдыхом и развлечениями</h4>
                <p class="lamellar-whom-cards__text">
                    Используйте наши маркизы в помещении при проведении промо-акций. Sunproof подберет идеальное решение специально для Вас.
                </p>
            </div>

            <div class="lamellar-whom-cards__card">
                <img src="img/card-lamellar-pergolas/14.jpg" alt="" class="lamellar-whom-cards__img">
                <h4 class="lamellar-whom-cards__title">Для собственников загородной недвижимости (коттеджей, частных домов)
                </h4>
                <p class="lamellar-whom-cards__text">
                    Создайте неповторимый колорит для своего дома. А наша компания поможет вам с выбором, установкой и обслуживанием ваших будущих маркиз.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section orange-padding orange-bg">
    <div class="container">
        <h2 class="default-section-title default-section-title_white">Преимущества перголы от Sunproof Systems</h2>

        <div class="orange-lists-container">
            <ul class="orange-list">
                <li class="orange-list__item">
                    • Современный и привлекательный внешний вид;
                </li>
                <li class="orange-list__item">
                    • Многофункциональность и полная автоматизация;
                </li>
                <li class="orange-list__item">
                    • Установка всего за 6-12 часов без грязи, пыли и строительного мусора;
                </li>
                <li class="orange-list__item">
                    • Мобильная конструкция, легко разбирается и переносится в другое место. Возможность установки на фундамент или без фундамента, устройства подиума из террасной доски;
                </li>
            </ul>

            <ul class="orange-list">
                <li class="orange-list__item">
                    • Большое количество опций на выбор;
                </li>
                <li class="orange-list__item">
                    • Безопасность для здоровья и экологическая чистота;
                </li>
                <li class="orange-list__item">
                    • Прочные, долговечные, устойчивые к различным внешним воздействиям материалы, срок службы свыше 15 лет;
                </li>
                <li class="orange-list__item">
                    • Легкость ухода и сохранение первозданного внешнего вида надолго;
                </li>
                <li class="orange-list__item">
                    • Абсолютная пожаробезопасность;
                </li>
                <li class="orange-list__item">
                    • Индивидуальное производство.
                </li>
            </ul>
        </div>

        <div class="container container_competitors-offets">
            <form action="" class="name-phone-form">
                <div class="name-phone-form__left">
                    <h3 class="name-phone-form__title">У вас остались вопросы?</h3>
                    <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
                </div>

                <div class="name-phone-form__inputs">
                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                    </div>

                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                    </div>

                    <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
                </div>
            </form>

            <div class="btns-container-categories">
                <button class="default-button default-button_white btns-container-categories__btn">
                    Примеры работ
                </button>

                <button class="default-button default-button_white btns-container-categories__btn modal-btn" data-modal="#findOutprices">
                    Узнать цены
                </button>

                <button class="default-button default-button_white btns-container-categories__btn">
                    Видеообзор
                </button>
            </div>
        </div>
    </div>
</section>

<section class="categories-preview section-padding section">
    <div class="container container_categories-preview">
        <h2 class="default-section-title">Рекомендуем к перголам</h2>

        <div class="tabs-container active" id="marquisesView" data-navigation="marquises">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-marquises/39.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Вертикальные маркизы</h3>
                            <p class="catalog-card__description">
                                Маркизой называют навесную конструкцию на сборно-разборном алюминиевом каркасе, выполненную из тентовых тканей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-marquises/40.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">LED-освещение и обогрев</h3>
                            <p class="catalog-card__description">
                                Светозащитные устройства из вертикальных и горизонтальных пластин, так называемых ламелей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding section additional-options pt-0">
    <div class="container container_additional-options">
        <h2 class="default-section-title">Дополнительные опции</h2>

        <div class="additional-options__cards">
            <a href="#" class="additional-options__card">
                <img src="img/additional-options/1.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title">Автоматика</h3>
                    <p class="additional-options__card__description">
                        Маркизой называют навесную конструкцию на сборно-разборном алюминиевом каркасе,
                        выполненную из тентовых тканей.
                    </p>
                </div>
            </a>

            <a href="#" class="additional-options__card">
                <img src="img/additional-options/3.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title">Умный дом</h3>
                    <p class="additional-options__card__description">
                        Все автоматические системы солнцезащитных
                        конструкции Sunproof могут интегрироваться с Умным домом.
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="order-measurement section-padding section pt-0">
    <div class="container">
        <h2 class="default-section-title">Закажите бесплатный замер</h2>

        <div class="order-measurement__container">
            <p class="order-measurement__text">
                Обычно, после консультации наши клиенты оставляют заявку на замер. Мы договариваемся на удобное для вас и нас время. За два часа до планируемого времени мы с вами связываемся и выезжаем. <br><br>
                На замер приезжает опытный специалист, как правило это монтажник или бригадир. <br><br>
                На каждый  замер мы берем образцы продукции, технические каталоги и большой каталог с различными видами тканей, чтобы вы детально могли представить ваше изделие и уже руками потрогать материалы. <br><br>
                (бесплатный выезд до 15 км. от МКАД, далее 30 руб./км.) <br><br>
            </p>

            <form class="order-measurement__form">
                <p class="order-measurement__form__text">
                    Закажиет замер и получите подарок от компании Sunproof Systems!
                </p>

                <div class="name-phone-form__inputs name-phone-form__inputs_order">
                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                    </div>

                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                    </div>

                    <input type="submit" class="name-phone-form__submit default-button" value="Заказать замер">
                </div>
            </form>
        </div>
    </div>
</section>

<section class="portfolio-preview section section-padding pt-0">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title">Портфолио</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<section class="last-news section section-padding pt-0">
    <div class="container container_last-news">
        <h2 class="default-section-title">Последние новости</h2>

        <div class="last-news__slider slider-3-2-1">
            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>
        </div>

        <a href="" class="show-more default-button show-more_last-news">
            Больше новостей
        </a>
    </div>
</section>

<div class="modal modal_cloth popup"  id="fabricsForMarquises0">
    <div class="container modal_cloth__container">
        <div class="modal_cloth__top">
            <div class="modal_cloth__logo">
                <img src="img/category-marquises/3.png" alt="" class="modal_cloth__img">
            </div>

            <p class="modal_cloth__main">
                Коллекция <span>LUMERA 3D</span>
            </p>
        </div>

        <p class="modal_cloth__text">
            Коллекция LUMERA 3D – это уникальное сочетание визуального и тактильного 3D эффекта.
            Ткани LUMERA 3D помогут реализовать самые смелые желания и любые дизайнерские решения от классических до ультрамодных.
            Модели на 100% имитируют натуральные природные материалы и металлические поверхности.
        </p>

        <div class="modal_cloth__cards">
            <a  data-fancybox="gallery" href="img/category-marquises/23.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/23.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385 101</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/24.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/24.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-110</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/25.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/25.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-201</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/26.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/26.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-210</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/27.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/27.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-220</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/28.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/28.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-301</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/29.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/29.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385 320</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/30.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/30.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-710</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/31.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/31.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-802</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/32.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/32.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-803</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/33.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/33.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-301</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/34.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/34.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385 320</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/35.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/35.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-710</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/36.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/36.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-802</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/37.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/37.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-803</p>
            </a>
        </div>
    </div>
</div>

<div class="modal modal_cloth-online popup" id="clothColor0">
    <div class="container modal_cloth-online__container">
        <iframe src="https://www.sattler-global.com/design-selector-2016/#/product-list/314018/?iframe=true&lang=en" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
