<% var data = {
title: "Sunproof | Маркизы"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="section category-main category-main_marquises position-relative">
    <div class="container container_about-main d-flex justify-content-center flex-column h-100 position-relative">
        <section class="bread bread_bg">
            <div class="container">
                <ul class="bread__list">
                    <li class="bread__item">
                        <a href="index.html" class="bread__link bread__link_bg">
                            Главная
                        </a>
                    </li>
                    <li class="bread__item">
                        <p  class="bread__link bread__link_bg">
                            Маркизы
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>

<section class="categories-preview section-padding section">
    <div class="container container_categories-preview">
        <h2 class="default-section-title">Маркизы Sunproof</h2>

        <div class="tabs-navigation">
            <a href="#marquisesView" class="tabs-navigation__tab active" data-navigation="marquises">По видам</a>
            <a href="#marquisesAsIntended" class="tabs-navigation__tab" data-navigation="marquises">По назначению</a>
        </div>

        <div class="tabs-container active" id="marquisesView" data-navigation="marquises">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background"  style="background: url(img/marquises-preview/1.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Корзинные маркизы</h3>
                            <p class="catalog-card__description">
                                Маркиза для окон и балконов, а также для витрин. Отлично подходит для оформления и брендирования баров, бутиков, салонов и магазинов, а также частных домов.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background"  style="background: url(img/marquises-preview/2.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Вертикальные маркизы</h3>
                            <p class="catalog-card__description">
                                Маркизой называют навесную конструкцию на сборно-разборном алюминиевом каркасе, выполненную из тентовых тканей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background"  style="background: url(img/marquises-preview/3.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Выдвижные маркизы</h3>
                            <p class="catalog-card__description">
                                Маркизой называют навесную конструкцию на сборно-разборном алюминиевом каркасе, выполненную из тентовых тканей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background"  style="background: url(img/marquises-preview/4.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Витринные маркизы</h3>
                            <p class="catalog-card__description">
                                Маркиза для окон и балконов, а также для витрин.
                                Отлично подходят для оформления и брендирования баров, бутиков, салонов и магазинов, а также частных домов.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="categories-preview__description">
                        <p class="categories-preview__description__text">
                            Маркизой – тент или навес на сборно-разборном алюминиевом каркасе и
                            качественной тентовой ткани из акрила или ПВХ. У нас вы можете купит
                            маркизы по доступной цене для кафе и ресторанов, для веранды и террасы,
                            для дачи, для балконов и витрин, а также для коттеджа и загородного дома.
                            Вам нужен тент для летнего кафе, маркиза поможет обеспечить защиту от солнца
                            и дождя. Компания SunProof Systems выполняет как изготовление и установку
                            солнцезащитных конструкций разных видов на заказ в Москве и Санкт-Петербурге,
                            так и последующее обслуживание.
                        </p>

                        <div class="btns-container-categories">
                            <button class="default-button default-button_white btns-container-categories__btn">
                                Примеры работ
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn modal-btn" data-modal="#findOutprices">
                                Узнать цены
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn">
                                Видеообзор
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-container" id="marquisesAsIntended" data-navigation="marquises">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/5.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для кафе и ресторанов</h3>
                            <p class="catalog-card__description">
                                Маркизы для кафе позволяет увеличить количество столов и при этом защитить посетителей от солнца или дождя.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/6.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для окон</h3>
                            <p class="catalog-card__description">
                                Маркизы для окон чаще всего используют для внешней защиты от солнца в многоквартирных домах, а так же магазинах
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/7.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для веранды и террасы</h3>
                            <p class="catalog-card__description">
                                Автоматические выдвижные маркизы для террас и веранд преобразят летнюю зону отдыха.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/8.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для коттеджа
                                и загородного дома</h3>
                            <p class="catalog-card__description">
                                Автоматические сдвижные маркизы используются как тенты или навесы зон отдыха в частных домах или коттеджах.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/9.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для дачи</h3>
                            <p class="catalog-card__description">
                                Альтернативный современный вариант летнего дачного навеса для защиты от солнечных лучей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/10.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Тенты для летних кафе</h3>
                            <p class="catalog-card__description">
                                При обустройстве летних кафе используют маркизы для комфортного размещения гостей на открытых уличных террасах.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/11.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркизы для балконов и витрин</h3>
                            <p class="catalog-card__description">
                                Для защиты балконов и витрин от попадания солнца устанавливают маркизы.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/12.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркизы витрин магазинов и гостиниц</h3>
                            <p class="catalog-card__description">
                                Для брендирования витрин гостиниц или магазинов используют витринные или корзинные маркизы.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="categories-preview__description">
                        <p class="categories-preview__description__text">
                            Маркизой – тент или навес на сборно-разборном алюминиевом каркасе и
                            качественной тентовой ткани из акрила или ПВХ. У нас вы можете купит
                            маркизы по доступной цене для кафе и ресторанов, для веранды и террасы,
                            для дачи, для балконов и витрин, а также для коттеджа и загородного дома.
                            Вам нужен тент для летнего кафе, маркиза поможет обеспечить защиту от солнца
                            и дождя. Компания SunProof Systems выполняет как изготовление и установку
                            солнцезащитных конструкций разных видов на заказ в Москве и Санкт-Петербурге,
                            так и последующее обслуживание.
                        </p>

                        <div class="btns-container-categories">
                            <button class="default-button default-button_white btns-container-categories__btn">
                                Примеры работ
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn modal-btn" data-modal="#findOutprices">
                                Узнать цены
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn">
                                Видеообзор
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories-preview pt-0 section-padding section">
    <div class="container container_categories-preview">
        <h2 class="default-section-title">Ткани для маркиз</h2>

        <p class="categories-preview__top-text">
            Среди более чем 100 моделей наших солнцезащитных тканей, вы наверняка найдете именно ту,
            которая на все 100% будет соответствовать вашим самым требовательным запросам!
        </p>

        <div class="tabs-navigation">
            <a href="#fabricsForMarquisesView" class="tabs-navigation__tab slider-0-2-1-init active" data-navigation="fabrics-for-marquises">Акриловые ткани</a>
            <a href="#fabricsForMarquisesAsIntended" class="tabs-navigation__tab slider-0-2-1-init" data-navigation="fabrics-for-marquises">ПВХ мембраны</a>
        </div>

        <div class="tabs-container active" id="fabricsForMarquisesView" data-navigation="fabrics-for-marquises">
            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/3.png" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Акриловые ткани  SATTLER. Австрийская компания SATLLER производит
                    акриловые ткани стойкого цвета.Наши специалисты помогут вам подобрать необходимую ткань.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/2.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">LUMERA 3D</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/41.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">LUMERA</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/42.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">ELEMENTS</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn slider-0-2-1__slide" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/43.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">ELEMENTS SOLIDS</h4>
                        </div>
                    </div>
                </div>
            </div>

            <button class="show-more default-button modal-btn" data-modal="#clothColor0">
                Подбор ткани онлайн
            </button>
        </div>

        <div class="tabs-container" id="fabricsForMarquisesAsIntended" data-navigation="fabrics-for-marquises">
            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/4.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Запатентованная во всем мире технология Précontraint Serge Ferrari,
                    заключается в специальном преднатяжении волокон ткани перед покрытием их слоем ПВХ.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/5.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Soltis 86</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/6.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Soltis 96</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/7.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Soltis W96</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/8.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Soltis 92</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/9.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Batyline</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/10.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Гордость индустрии технического текстиля, компания Dickson стала
                    мировым эталоном в области производства высококачественных тканей для использования вне помещений.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/11.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Sunvision</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/12.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Sunworker Cristal</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/13.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Sunvision</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/14.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Гордость индустрии технического текстиля, компания Dickson стала
                    мировым эталоном в области производства высококачественных тканей для использования вне помещений.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/15.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Serge 1%</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/16.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Serge 600</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/17.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Serge 600 Solar</h4>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/18.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Serge 600 BO Lunar</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/19.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    С тех пор как Sauleda была впервые основана в 1897 году,
                    она преследовала одну цель: производство высококачественных, дизайнерских тканей.
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/20.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Screen Out</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloth-content-top">
                <div class="cloth-content-top__logo">
                    <img src="img/category-marquises/21.jpg" alt="" class="cloth-content-top__img">
                </div>

                <p class="cloth-content-top__text">
                    Благодаря использованию передовых технологий iDeco занимает
                    лидирующие позиции на рынке автоматики для дома..
                </p>
            </div>

            <div class="categories-preview__content">
                <div class="categories-preview__cards categories-preview__cards_cloth slider-0-2-1">
                    <div class="catalog-card catalog-card_cloth modal-btn" data-modal="#fabricsForMarquises0">
                        <img src="img/category-marquises/22.jpg" alt="" class="catalog-card__img-cloth">
                        <div class="catalog-card__content catalog-card__content_cloth">
                            <p class="catalog-card_cloth-text">Коллекция</p>
                            <h4 class="catalog-card_cloth-title">Screen Collection</h4>
                        </div>
                    </div>
                </div>
            </div>

            <button class="show-more default-button modal-btn" data-modal="#clothColor0">
                Подбор ткани онлайн
            </button>
        </div>
    </div>
</section>

<section class="section who-we orange-padding section_who-we position-relative">
    <div class="container container_who-we">

        <h2 class="default-section-title default-section-title_white">Почему мы ?</h2>

        <div class="who-we__content ">
            <div class="who-we__numbers">
                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">12</div>
                    <p class="who-we__numbers__item__text">
                        Предоставляем гарантию на всю продукцию и все виды работ от 12 месяцев
                    </p>
                </div>

                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">5</div>
                    <p class="who-we__numbers__item__text">
                        Приводите друзей, обращайтесь повторно и получайте от 5% скидки
                    </p>
                </div>

                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">10</div>
                    <p class="who-we__numbers__item__text">
                        Десятилетний отпыт работы. Индивидуальный подход
                    </p>
                </div>
            </div>
        </div>

        <form action="" class="name-phone-form">
            <div class="name-phone-form__left">
                <h3 class="name-phone-form__title">Получите консультацию</h3>
                <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
            </div>

            <div class="name-phone-form__inputs">
                <div class="position-relative error">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Заказать звонок">
            </div>
        </form>
    </div>
    <img src="img/category-marquises/38.jpg" alt="" class="who-we-img">
</section>

<section class="categories-preview section-padding section">
    <div class="container container_categories-preview">
        <h2 class="default-section-title">Рекомендуем к маркизам</h2>

        <div class="tabs-container active" id="marquisesView" data-navigation="marquises">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-marquises/39.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Печать на ткани для маркиз и пергол</h3>
                            <p class="catalog-card__description">
                                Маркизой называют навесную конструкцию на сборно-разборном.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-marquises/40.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">LED-освещение и обогрев</h3>
                            <p class="catalog-card__description">
                                Светозащитные устройства из вертикальных и горизонтальных пластин, так называемых ламелей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding section additional-options pt-0">
    <div class="container container_additional-options">
        <h2 class="default-section-title">Дополнительные опции</h2>

        <div class="additional-options__cards">
            <a href="#" class="additional-options__card">
                <img src="img/additional-options/1.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title">Автоматика</h3>
                    <p class="additional-options__card__description">
                        Маркизой называют навесную конструкцию на сборно-разборном алюминиевом каркасе,
                        выполненную из тентовых тканей.
                    </p>
                </div>
            </a>

            <a href="#" class="additional-options__card">
                <img src="img/additional-options/3.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title">Умный дом</h3>
                    <p class="additional-options__card__description">
                        Все автоматические системы солнцезащитных
                        конструкции Sunproof могут интегрироваться с Умным домом.
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="portfolio-preview section section-padding pt-0">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title">Портфолио</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<section class="orange-bg orange-padding section competitors-offets">
    <div class="container container_competitors-offets">

        <div class="competitors-offets__text">
            <h3 class="white-subtitle">Нашли выгодное предложение у конкурентов?</h3>
            <p class="white-description white-description_competitors-offets">
                Отправь нам это комерческое предложение и
                мы предоставим вам лучшее условие.
            </p>
        </div>

        <form action="" class="name-phone-form name-phone-form_file">
            <div class="name-phone-form__input-file-container">
                <label class="name-phone-form__label">
                    <input class="name-phone-form__input-file" type="file">
                    <img src="img/svg/file-form.svg" alt="" class="name-phone-form__file-img">
                    <p class="name-phone-form__file-img-description">
                        Загрузите файл с предложением
                    </p>
                </label>
            </div>

            <div class="name-phone-form__inputs name-phone-form__inputs__file">
                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
            </div>
        </form>
    </div>
</section>

<section class="last-news section section-padding">
    <div class="container container_last-news">
        <h2 class="default-section-title">Последние новости</h2>

        <div class="last-news__slider slider-3-2-1">
            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>
        </div>

        <a href="" class="show-more default-button show-more_last-news">
            Больше новостей
        </a>
    </div>
</section>

<div class="modal modal_cloth popup"  id="fabricsForMarquises0">
    <div class="container modal_cloth__container">
        <div class="modal_cloth__top">
            <div class="modal_cloth__logo">
                <img src="img/category-marquises/3.png" alt="" class="modal_cloth__img">
            </div>

            <p class="modal_cloth__main">
                Коллекция <span>LUMERA 3D</span>
            </p>
        </div>

        <p class="modal_cloth__text">
            Коллекция LUMERA 3D – это уникальное сочетание визуального и тактильного 3D эффекта.
            Ткани LUMERA 3D помогут реализовать самые смелые желания и любые дизайнерские решения от классических до ультрамодных.
            Модели на 100% имитируют натуральные природные материалы и металлические поверхности.
        </p>

        <div class="modal_cloth__cards">
            <a  data-fancybox="gallery" href="img/category-marquises/23.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/23.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385 101</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/24.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/24.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-110</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/25.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/25.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-201</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/26.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/26.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-210</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/27.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/27.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-220</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/28.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/28.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-301</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/29.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/29.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385 320</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/30.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/30.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-710</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/31.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/31.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-802</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/32.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/32.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-803</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/33.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/33.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-301</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/34.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/34.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385 320</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/35.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/35.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-710</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/36.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/36.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-802</p>
            </a>

            <a data-fancybox="gallery" href="img/category-marquises/37.jpg" class="modal_cloth__card">
                <div class="modal_cloth__card__img" style="background: url(img/category-marquises/37.jpg) no-repeat center center / cover;"></div>
                <p class="modal_cloth__card__text">385-803</p>
            </a>
        </div>
    </div>
</div>

<div class="modal modal_cloth-online popup" id="clothColor0">
    <div class="container modal_cloth-online__container">
        <iframe src="https://www.sattler-global.com/design-selector-2016/#/product-list/314018/?iframe=true&lang=en" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
