<% var data = {
title: "Sunproof | Умный дом"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="section category category-smart-home position-relative">
    <div class="container container_about-main d-flex justify-content-center flex-column h-100 position-relative">
        <section class="bread bread_bg">
            <div class="container">
                <ul class="bread__list">
                    <li class="bread__item">
                        <a href="index.html" class="bread__link bread__link_bg">
                            Главная
                        </a>
                    </li>
                    <li class="bread__item">
                        <p  class="bread__link bread__link_bg">
                            Умный дом
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>

<section class="categories-preview automatic-control-preview section-padding section">
    <div class="container container_categories-preview">
        <h2 class="default-section-title">Умный дом</h2>

        <p class="automatic-control__top-text">
            Управляйте системой дистанционно прямо со своего смартфона из любой точки мира!
            Современные системы автоматизации и управления максимально упростят управление перголой.
            Индивидуальные настройки, позволяют создавать сценарии автоматического открытия и закрытия
            сдвижной крыши в зависимости от солнечной активности и силы ветра. Компания Decolife комплектует
            изделия автоматикой только от производителей с мировым именем, обладающих безупречной репутацией
            и высоким качеством. ТЕКСТ ПРО умный дом
        </p>


        <div class="cloth-content-top">
            <div class="cloth-content-top__logo">
                <img src="img/category-smart-home/2.jpg" alt="" class="cloth-content-top__img">
            </div>

            <p class="cloth-content-top__text">
                Устройство Somfy TaHoma. Дистанционный контроль и управление домом по вашему сценарию через интернет
            </p>
        </div>

        <div class="category-good-cards">
            <div class="category-good-card">
                <div class="category-good-card__img-container">
                    <img src="img/category-smart-home/3.jpg" alt="" class="category-good-card__img">
                </div>

                <div class="category-good-card__content">
                    <h2 class="category-good-card__title">Tahoma</h2>

                    <p class="category-good-card__description">
                        <span>Сценарии:</span><br><br>
                        - Создание собственных сценариев с индивидуальным учетом образа жизни; <br>
                        - Возможность устанавливать свои собственные сценарии и легко активировать их одним кликом
                        <br><br>
                        <span>Календарь:</span> <br><br>
                        - Можно настроить свои скрипты для каждого дня недели; <br>
                        - Возможность установки различных сценариев в разное время суток, в том числе ряд сценариев, которые возможно включить или выключить в любое время;<br>
                        - Возможность программирования в разные дни недели, например. "РАБОТА" с понедельника по пятницу, и "ВЫХОДНЫЕ" в субботу и воскресенье.
                        <br>
                    </p>

                    <div class="category-good-card__bottom">
                        <p class="category-good-card__price">
                            от 440€
                        </p>

                        <button class="default-button category-good-card__btn modal-btn" data-modal="#namePhoneModal">
                            Узнать наличие и цены
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cloth-content-top">
            <div class="cloth-content-top__logo">
                <img src="img/category-smart-home/4.jpg" alt="" class="cloth-content-top__img">
            </div>

            <p class="cloth-content-top__text">
                Эта система управления позволяет централизовать управление любыми устройствами RTS со смартфона, планшета, smart-watch
            </p>
        </div>

        <div class="category-good-cards">
            <div class="category-good-card">
                <div class="category-good-card__img-container">
                    <img src="img/category-smart-home/5.jpg" alt="" class="category-good-card__img">
                </div>

                <div class="category-good-card__content">
                    <h2 class="category-good-card__title">Connexoon</h2>

                    <p class="category-good-card__description">
                        <span>Выбор 4-х предустановленных сценария управления, установка таймера работы и режима присутствия людей в доме:</span><br><br>
                        - Режим работы "В доме" <br>
                        - Режим работы "Вне дома" <br>
                        - Режим работы "Солнцезащита" <br>
                        - Режим работы "Приватность" <br>
                        <br><br>
                        <span>Персонализация устройства:</span> <br><br>
                        -С помощью настройки дополнительных 4-х режимов для создания необходимой Вам атмосферы.
                        <br><br>
                        <span>Управление всеми устройствами RTS:</span> <br><br>
                        - В том числе и удаленно, при помощи смартфона или планшета (iOS, Android). <br>
                        - Даже без подключения к Интернету устройства могут быть подключены к CONNEXOON®. <br>
                        - До 40 подключаемых RTS устройств (приводы, радиоприемники) <br>
                        - Управление различным функционалом возможно при использовании приложения Connexoon Window RTS App, установленном на смартфоне.
                    </p>

                    <div class="category-good-card__bottom">
                        <p class="category-good-card__price">
                            от 230€
                        </p>

                        <button class="default-button category-good-card__btn modal-btn" data-modal="#namePhoneModal">
                            Узнать наличие и цены
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cloth-content-top">
            <div class="cloth-content-top__logo">
                <img src="img/category-smart-home/6.jpg" alt="" class="cloth-content-top__img">
            </div>

            <p class="cloth-content-top__text">
                Эта система управления позволяет централизовать управление любыми устройствами RTS со смартфона, планшета, smart-watch
            </p>
        </div>

        <div class="category-good-cards mb-0">
            <div class="category-good-card">
                <div class="category-good-card__img-container">
                    <img src="img/category-smart-home/7.jpg" alt="" class="category-good-card__img">
                </div>

                <div class="category-good-card__content">
                    <h2 class="category-good-card__title">Smart Box</h2>

                    <p class="category-good-card__description">
                        <span>Параметры:</span><br><br>
                        - Внешний wifi роутер <br>
                        - Возможность работы по заданому сценарию, оснащен таймером. <br>
                        - Преимущества: легко установить и управлять; <br>
                        - Контрольные точки: 100 <br>
                        - Типы связи: 866MHz FSK и 2.4GHz, ZigBee, 433MHz ASK <br>
                        - Сетевые порты: Lan 1*10/100M <br>
                        - Напряжение питания адаптера: 110 - 230VDC <br>
                        - Напряжение питания устройства: 5 - 12VAC
                    </p>

                    <div class="category-good-card__bottom">
                        <p class="category-good-card__price">
                            от 230€
                        </p>

                        <button class="default-button category-good-card__btn modal-btn" data-modal="#namePhoneModal">
                            Узнать наличие и цены
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section who-we orange-padding section_who-we position-relative">
    <div class="container container_who-we">

        <h2 class="default-section-title default-section-title_white">Почему мы ?</h2>

        <div class="who-we__content ">
            <div class="who-we__numbers">
                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">12</div>
                    <p class="who-we__numbers__item__text">
                        Предоставляем гарантию на всю продукцию и все виды работ от 12 месяцев
                    </p>
                </div>

                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">5</div>
                    <p class="who-we__numbers__item__text">
                        Приводите друзей, обращайтесь повторно и получайте от 5% скидки
                    </p>
                </div>

                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">10</div>
                    <p class="who-we__numbers__item__text">
                        Десятилетний отпыт работы. Индивидуальный подход
                    </p>
                </div>
            </div>
        </div>

        <form action="" class="name-phone-form">
            <div class="name-phone-form__left">
                <h3 class="name-phone-form__title">Получите консультацию</h3>
                <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
            </div>

            <div class="name-phone-form__inputs">
                <div class="position-relative error">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Заказать звонок">
            </div>
        </form>
    </div>
    <img src="img/category-automatic-control/31.jpg" alt="" class="who-we-img">
</section>

<section class="portfolio-preview section section-padding">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title">Портфолио</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<section class="last-news pt-0 section section-padding">
    <div class="container container_last-news">
        <h2 class="default-section-title">Последние новости</h2>

        <div class="last-news__slider slider-3-2-1">
            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>
        </div>

        <a href="" class="show-more default-button show-more_last-news">
            Больше новостей
        </a>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
