<% var data = {
title: "Sunproof | Жалюзи"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="section category-main category-main_cases position-relative">
    <div class="container container_about-main d-flex justify-content-center flex-column h-100 position-relative">
        <section class="bread bread_bg">
            <div class="container">
                <ul class="bread__list">
                    <li class="bread__item">
                        <a href="index.html" class="bread__link bread__link_bg">
                            Главная
                        </a>
                    </li>
                    <li class="bread__item">
                        <p  class="bread__link bread__link_bg">
                            Жалюзи
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <div class="main-price">
        от 21 800₽, до 150 120₽
    </div>
</main>

<section class="categories-preview section-padding section">
    <div class="container container_categories-preview">
        <h2 class="default-section-title">Жалюзи Sunproof</h2>

        <div class="tabs-navigation">
            <a href="#windowBlind" class="tabs-navigation__tab active" data-navigation="window-blind">По видам</a>
            <a href="#windowBlindIntended" class="tabs-navigation__tab" data-navigation="window-blind">По назначению</a>
        </div>

        <div class="tabs-container active" id="windowBlind" data-navigation="window-blind">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/2.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Алюминиевые горизонтальные жалюзи</h3>
                            <p class="catalog-card__description">
                                Классический вариант — это горизонтальные алюминиевые жалюзи.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 600 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/3.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Вертикальные пластиковые жалюзи</h3>
                            <p class="catalog-card__description">
                                Вертикальные пластиковые жалюзи – это вещь, проверенная временем.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 1 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/4.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Горизонтальные деревянные жалюзи</h3>
                            <p class="catalog-card__description">
                                Это решение для тех, кто заботиться об интерьере своего дома.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 2 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/5.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Рулонные шторы для окон</h3>
                            <p class="catalog-card__description">
                                Рулонные шторы, жалюзи, крепятся непосредственно к створкам окна.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 1 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/6.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Горизонтальные кассетные жалюзи</h3>
                            <p class="catalog-card__description">
                                Это горизонтальные жалюзи, для установки на пластиковые окна.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 600 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/7.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Рулонные кассетные жалюзи</h3>
                            <p class="catalog-card__description">
                                Кассетные жалюзи выглядят более аккуратно, чем аналоги открытого типа.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 1 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/8.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Горизонтальные бамбуковые жалюзи</h3>
                            <p class="catalog-card__description">
                                Бамбуковые жалюзи на окнах защищают от солнечного света.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 600 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/9.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Рулонные шторы «день-ночь»</h3>
                            <p class="catalog-card__description">
                                Эти шторы в составе ткани имеют две полосы с разной плотностью и светопроницаемостью.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 1 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/10.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Вертикальные алюминиевые жалюзи</h3>
                            <p class="catalog-card__description">
                                Этот тип жалюзи отвечают повышенным требованиям к чистоте и высоким противопожарным свойствам.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 2 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/11.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Жалюзи Плиссе на окна</h3>
                            <p class="catalog-card__description">
                                Это сравнительно редко встречающееся изделие. Но и одно самых изысканных и оригинальных решений по дизайну интерьера.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 1 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/window-blind/12.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Вертикальные тканевые жалюзи</h3>
                            <p class="catalog-card__description">
                                Тканевые жалюзи – это ключ к  неповторимой атмосфере помещения.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 2 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="categories-preview__description">
                        <p class="categories-preview__description__text">
                            Жалюзи́ (фр. jalousie — «ревность») — светозащитные устройства, состоящие из вертикальных или горизонтальных пластин, так называемых ламелей. Ламели могут быть неподвижными или поворачиваться вокруг своей оси для регулирования световых и воздушных потоков[1].
                            <br><br>
                            Описание жалюзи и перимущества поупки именно в SUNPROOF
                        </p>

                        <div class="btns-container-categories">
                            <button class="default-button default-button_white btns-container-categories__btn">
                                Примеры работ
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn modal-btn" data-modal="#findOutprices">
                                Узнать цены
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn">
                                Видеообзор
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-container" id="windowBlindIntended" data-navigation="window-blind">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/5.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для кафе и ресторанов</h3>
                            <p class="catalog-card__description">
                                Маркизы для кафе позволяет увеличить количество столов и при этом защитить посетителей от солнца или дождя.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/6.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для окон</h3>
                            <p class="catalog-card__description">
                                Маркизы для окон чаще всего используют для внешней защиты от солнца в многоквартирных домах, а так же магазинах
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/7.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для веранды и террасы</h3>
                            <p class="catalog-card__description">
                                Автоматические выдвижные маркизы для террас и веранд преобразят летнюю зону отдыха.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/8.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для коттеджа
                                и загородного дома</h3>
                            <p class="catalog-card__description">
                                Автоматические сдвижные маркизы используются как тенты или навесы зон отдыха в частных домах или коттеджах.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/9.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для дачи</h3>
                            <p class="catalog-card__description">
                                Альтернативный современный вариант летнего дачного навеса для защиты от солнечных лучей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/10.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Тенты для летних кафе</h3>
                            <p class="catalog-card__description">
                                При обустройстве летних кафе используют маркизы для комфортного размещения гостей на открытых уличных террасах.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/11.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркизы для балконов и витрин</h3>
                            <p class="catalog-card__description">
                                Для защиты балконов и витрин от попадания солнца устанавливают маркизы.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/12.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркизы витрин магазинов и гостиниц</h3>
                            <p class="catalog-card__description">
                                Для брендирования витрин гостиниц или магазинов используют витринные или корзинные маркизы.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="categories-preview__description">
                        <p class="categories-preview__description__text">
                            Маркизой – тент или навес на сборно-разборном алюминиевом каркасе и
                            качественной тентовой ткани из акрила или ПВХ. У нас вы можете купит
                            маркизы по доступной цене для кафе и ресторанов, для веранды и террасы,
                            для дачи, для балконов и витрин, а также для коттеджа и загородного дома.
                            Вам нужен тент для летнего кафе, маркиза поможет обеспечить защиту от солнца
                            и дождя. Компания SunProof Systems выполняет как изготовление и установку
                            солнцезащитных конструкций разных видов на заказ в Москве и Санкт-Петербурге,
                            так и последующее обслуживание.
                        </p>

                        <div class="btns-container-categories">
                            <button class="default-button default-button_white btns-container-categories__btn">
                                Примеры работ
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn modal-btn" data-modal="#findOutprices">
                                Узнать цены
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn">
                                Видеообзор
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section who-we orange-padding section_who-we position-relative">
    <div class="container container_who-we">

        <h2 class="default-section-title default-section-title_white">Почему мы ?</h2>

        <div class="who-we__content ">
            <div class="who-we__numbers">
                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">12</div>
                    <p class="who-we__numbers__item__text">
                        Предоставляем гарантию на всю продукцию и все виды работ от 12 месяцев
                    </p>
                </div>

                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">5</div>
                    <p class="who-we__numbers__item__text">
                        Приводите друзей, обращайтесь повторно и получайте от 5% скидки
                    </p>
                </div>

                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">10</div>
                    <p class="who-we__numbers__item__text">
                        Десятилетний отпыт работы. Индивидуальный подход
                    </p>
                </div>
            </div>
        </div>

        <form action="" class="name-phone-form">
            <div class="name-phone-form__left">
                <h3 class="name-phone-form__title">Получите консультацию</h3>
                <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
            </div>

            <div class="name-phone-form__inputs">
                <div class="position-relative error">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Заказать звонок">
            </div>
        </form>
    </div>
    <img src="img/category-curtains/3.jpg" alt="" class="who-we-img">
</section>

<section class="section-padding section additional-options">
    <div class="container container_additional-options">
        <h2 class="default-section-title">Дополнительные опции</h2>

        <div class="additional-options__cards">
            <a href="#" class="additional-options__card">
                <img src="img/additional-options/1.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title">Автоматика</h3>
                    <p class="additional-options__card__description">
                        Маркизой называют навесную конструкцию на сборно-разборном алюминиевом каркасе,
                        выполненную из тентовых тканей.
                    </p>
                </div>
            </a>

            <a href="#" class="additional-options__card">
                <img src="img/additional-options/3.png" alt="" class="additional-options__card__img">
                <div class="additional-options__card__text-block">
                    <h3 class="additional-options__card__title">Умный дом</h3>
                    <p class="additional-options__card__description">
                        Все автоматические системы солнцезащитных
                        конструкции Sunproof могут интегрироваться с Умным домом.
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="portfolio-preview section section-padding pt-0">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title">Портфолио</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<section class="last-news pt-0 section section-padding">
    <div class="container container_last-news">
        <h2 class="default-section-title">Последние новости</h2>

        <div class="last-news__slider slider-3-2-1">
            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>
        </div>

        <a href="" class="show-more default-button show-more_last-news">
            Больше новостей
        </a>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
