<% var data = {
title: "Sunproof | Шторы"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="section category-main category-main_curtains position-relative">
    <div class="container container_about-main d-flex justify-content-center flex-column h-100 position-relative">
        <section class="bread bread_bg">
            <div class="container">
                <ul class="bread__list">
                    <li class="bread__item">
                        <a href="index.html" class="bread__link bread__link_bg">
                            Главная
                        </a>
                    </li>
                    <li class="bread__item">
                        <p  class="bread__link bread__link_bg">
                            Шторы
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <div class="main-price">
        от 21 800₽, до 150 120₽
    </div>
</main>

<section class="categories-preview section-padding section">
    <div class="container container_categories-preview">
        <h2 class="default-section-title">Шторы ПФХ</h2>

        <div class="tabs-navigation">
            <a href="#curtainsView" class="tabs-navigation__tab active" data-navigation="curtains">По видам</a>
            <a href="#curtainsIntended" class="tabs-navigation__tab" data-navigation="curtains">По назначению</a>
        </div>

        <div class="tabs-container active" id="curtainsView" data-navigation="curtains">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-curtains/2.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Мягкие окна для беседок, веранды и террас</h3>
                            <p class="catalog-card__description">
                                Это изящное и недорогое решение, которое защитит вашу зону для отдыха от неприятных погодных явлений.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 600 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-curtains/3.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Мягкие окна для кафе и ресторанов</h3>
                            <p class="catalog-card__description">
                                Шторы, или мягкие окна для кафе и ресторанов – это легкая и практичная конструкция из ПВХ пленки.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 1 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-curtains/4.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Тенты ПВХ</h3>
                            <p class="catalog-card__description">
                                Изделие служит для защиты определённого объекта от неприятных погодных явлений, а также при проведении строительных работ.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 600 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-curtains/5.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">ПВХ завесы</h3>
                            <p class="catalog-card__description">
                                Термоизолирующая завеса из поливинилхлорида (ПВХ) – это эффективный способ снижения потерь тепла через открытый проем.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 1 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/category-curtains/6.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Шторы ПВХ для автомоек</h3>
                            <p class="catalog-card__description">
                                Специализированные шторы для автосервисов и автомоек для разделения территории на боксы в большом помещении.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 600 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="categories-preview__description">
                        <p class="categories-preview__description__text">
                            Шторы ПВХ предназначены для беседок, веранд, террас кафе и ресторанов. Мягкие окна – хорошая замена обычным, так как они более практичные и являются интересным решением, имеющим множество преимуществ. В каталоге вы найдете различные варианты штор из ПВХ нашего производства, выберете подходящую продукцию и узнаете больше о материале для мягких окон.
                            ак мы работаем: <br><br>
                            Вызов специалиста и замер. На данном этапе вы связываетесь с нашим замерщиком, он приезжает и делает замеры, вам предоставляется выбор материала и цвета окантовки.
                            Расчет стоимости и составление договора. При подписании договора вносится аванс 50% от общей стоимости заказа.
                            Цена на шторы ПВХ зависит от:<br> <br>
                            1. Материала; <br>
                            2. Сложности производства; <br>
                            3. Размеров; <br>
                            4. Варианта крепления. <br> <br>
                            В компании SunProof Systems в Москве вы можете купить шторы ПВХ для ресторана, кафе, веранды, беседки и террасы на заказ. Мы предоставляем скидки от 5% на повторные заказы и гарантию от 12 месяцев на всю продукцию и работы.
                        </p>

                        <div class="btns-container-categories">
                            <button class="default-button default-button_white btns-container-categories__btn">
                                Примеры работ
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn modal-btn" data-modal="#findOutprices">
                                Узнать цены
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn">
                                Видеообзор
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-container" id="curtainsIntended" data-navigation="curtains">
            <div class="categories-preview__content">
                <div class="categories-preview__cards">
                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/5.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для кафе и ресторанов</h3>
                            <p class="catalog-card__description">
                                Маркизы для кафе позволяет увеличить количество столов и при этом защитить посетителей от солнца или дождя.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/6.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для окон</h3>
                            <p class="catalog-card__description">
                                Маркизы для окон чаще всего используют для внешней защиты от солнца в многоквартирных домах, а так же магазинах
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/7.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для веранды и террасы</h3>
                            <p class="catalog-card__description">
                                Автоматические выдвижные маркизы для террас и веранд преобразят летнюю зону отдыха.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/8.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для коттеджа
                                и загородного дома</h3>
                            <p class="catalog-card__description">
                                Автоматические сдвижные маркизы используются как тенты или навесы зон отдыха в частных домах или коттеджах.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/9.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркиза для дачи</h3>
                            <p class="catalog-card__description">
                                Альтернативный современный вариант летнего дачного навеса для защиты от солнечных лучей.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/10.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Тенты для летних кафе</h3>
                            <p class="catalog-card__description">
                                При обустройстве летних кафе используют маркизы для комфортного размещения гостей на открытых уличных террасах.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/11.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркизы для балконов и витрин</h3>
                            <p class="catalog-card__description">
                                Для защиты балконов и витрин от попадания солнца устанавливают маркизы.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-card catalog-card_mini">
                        <div class="catalog-card__background" style="background: url(img/marquises-preview/12.jpg) no-repeat center center / cover"></div>
                        <div class="catalog-card__content">
                            <h3 class="catalog-card__title">Маркизы витрин магазинов и гостиниц</h3>
                            <p class="catalog-card__description">
                                Для брендирования витрин гостиниц или магазинов используют витринные или корзинные маркизы.
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="#" class="catalog-card__link default-button">Подробнее</a>
                                <p class="catalog-card__price">от 64 380 ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="categories-preview__description">
                        <p class="categories-preview__description__text">
                            Шторы ПВХ предназначены для беседок, веранд, террас кафе и ресторанов. Мягкие окна – хорошая замена обычным, так как они более практичные и являются интересным решением, имеющим множество преимуществ. В каталоге вы найдете различные варианты штор из ПВХ нашего производства, выберете подходящую продукцию и узнаете больше о материале для мягких окон.
                            Как мы работаем:
                            Вызов специалиста и замер. На данном этапе вы связываетесь с нашим замерщиком, он приезжает и делает замеры, вам предоставляется выбор материала и цвета окантовки.
                            Расчет стоимости и составление договора. При подписании договора вносится аванс 50% от общей стоимости заказа.
                            Цена на шторы ПВХ зависит от:
                            1. Материала;
                            2. Сложности производства;
                            3. Размеров;
                            4. Варианта крепления.
                            В компании SunProof Systems в Москве вы можете купить шторы ПВХ для ресторана, кафе, веранды, беседки и террасы на заказ. Мы предоставляем скидки от 5% на повторные заказы и гарантию от 12 месяцев на всю продукцию и работы.
                        </p>

                        <div class="btns-container-categories">
                            <button class="default-button default-button_white btns-container-categories__btn">
                                Примеры работ
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn modal-btn" data-modal="#findOutprices">
                                Узнать цены
                            </button>

                            <button class="default-button default-button_white btns-container-categories__btn">
                                Видеообзор
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section who-we orange-padding section_who-we position-relative">
    <div class="container container_who-we">

        <h2 class="default-section-title default-section-title_white">Почему мы ?</h2>

        <div class="who-we__content ">
            <div class="who-we__numbers">
                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">12</div>
                    <p class="who-we__numbers__item__text">
                        Предоставляем гарантию на всю продукцию и все виды работ от 12 месяцев
                    </p>
                </div>

                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">5</div>
                    <p class="who-we__numbers__item__text">
                        Приводите друзей, обращайтесь повторно и получайте от 5% скидки
                    </p>
                </div>

                <div class="who-we__numbers__item">
                    <div class="who-we__numbers__item__number">10</div>
                    <p class="who-we__numbers__item__text">
                        Десятилетний отпыт работы. Индивидуальный подход
                    </p>
                </div>
            </div>
        </div>

        <form action="" class="name-phone-form">
            <div class="name-phone-form__left">
                <h3 class="name-phone-form__title">Получите консультацию</h3>
                <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
            </div>

            <div class="name-phone-form__inputs">
                <div class="position-relative error">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Заказать звонок">
            </div>
        </form>
    </div>
    <img src="img/category-curtains/7.jpg" alt="" class="who-we-img">
</section>

<section class="portfolio-preview section section-padding">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title">Портфолио</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<section class="last-news pt-0 section section-padding">
    <div class="container container_last-news">
        <h2 class="default-section-title">Последние новости</h2>

        <div class="last-news__slider slider-3-2-1">
            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>

            <div class="last-news__item">
                <div class="last-news__text">
                    Пристенная пергола (на фото 📸) для веранды загородного дома 🏡. <br><br>
                    ℹ️ℹ️ℹ️<br><br>
                    📌Размеры: ширина 4,30 м, вынос 6 м. <br><br>
                    📌Цвет: алюминиевый темного цвета «антрацит». <br>
                    <div class="last-news__mask"></div>
                </div>
                <a href="#" class="last-news__btn">
                    Читать полностью
                </a>
            </div>
        </div>

        <a href="" class="show-more default-button show-more_last-news">
            Больше новостей
        </a>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
