<% var data = {
title: "Sunproof | Новости"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="bread">
    <div class="container">
        <ul class="bread__list">
            <li class="bread__item">
                <a href="index.html" class="bread__link">
                    Главная
                </a>
            </li>
            <li class="bread__item">
                <p  class="bread__link">
                    Новости
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="section news section-padding news-page-section">
    <div class="container">
        <h2 class="default-section-title">Новости</h2>
        <div class="news__cards">
            <div class="news__card">
                <a href="#" class="news__img" style="background: url(../img/news/1.jpg) no-repeat center center / cover"></a>
                <div class="news__bottom">
                    <p class="news__text">
                        На фото 📸
                        Сдвижные полиуретановые шторы
                        Это как?🤔
                        Это значит, что сверху устанавливаются ролики и при необходимости шторы можно убрать в сторону👍
                        Уже на месте наши доблестные 😊 монтажники паяли, вырезали и подгоняли под размер, чтобы в итоге получилась вот такая красота 😍
                    </p>

                    <div class="portfolio__slider__bottom">
                        <div class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">

                            <div class="portfolio__slider__shared-content">
                                <div class="portfolio__slider__shared-content-top">
                                    <img src="img/svg/shared-grey.svg" alt="">

                                    <div class="portfolio__slider__links-container">
                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/viber-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/telegram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/whatsapp-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/instagram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/facebook-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/vk-orange.svg" alt="">
                                        </a>
                                    </div>
                                </div>

                                <p class="portfolio__slider__copy-link" data-link="ССЫЛКА НА ПРОЕКТ">
                                    Скопировать ссылку
                                </p>
                            </div>
                        </div>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>

                </div>
            </div>

            <div class="news__card">
                <a href="#" class="news__img" style="background: url(../img/news/2.jpg) no-repeat center center / cover"></a>
                <div class="news__bottom">
                    <p class="news__text">
                        На фото 📸
                        Сдвижные полиуретановые шторы
                        Это как?🤔
                        Это значит, что сверху устанавливаются ролики и при необходимости шторы можно убрать в сторону👍
                        Уже на месте наши доблестные 😊 монтажники паяли, вырезали и подгоняли под размер, чтобы в итоге получилась вот такая красота 😍
                        На фото 📸
                        Сдвижные полиуретановые шторы
                        Это как?🤔
                        Это значит, что сверху устанавливаются ролики и при необходимости шторы можно убрать в сторону👍
                        Уже на месте наши доблестные 😊 монтажники паяли, вырезали и подгоняли под размер, чтобы в итоге получилась вот такая красота 😍
                    </p>

                    <div class="portfolio__slider__bottom">
                        <div class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">

                            <div class="portfolio__slider__shared-content">
                                <div class="portfolio__slider__shared-content-top">
                                    <img src="img/svg/shared-grey.svg" alt="">

                                    <div class="portfolio__slider__links-container">
                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/viber-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/telegram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/whatsapp-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/instagram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/facebook-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/vk-orange.svg" alt="">
                                        </a>
                                    </div>
                                </div>

                                <p class="portfolio__slider__copy-link" data-link="ССЫЛКА НА ПРОЕКТ">
                                    Скопировать ссылку
                                </p>
                            </div>
                        </div>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>

                </div>
            </div>

            <div class="news__card">
                <a href="#" class="news__img" style="background: url(../img/news/3.jpg) no-repeat center center / cover"></a>
                <div class="news__bottom">
                    <p class="news__text">
                        На фото 📸
                        Сдвижные полиуретановые шторы
                        Это как?🤔
                        Это значит, что сверху устанавливаются ролики и при необходимости шторы можно убрать в сторону👍
                        Уже на месте наши доблестные 😊 монтажники паяли, вырезали и подгоняли под размер, чтобы в итоге получилась вот такая красота 😍
                    </p>

                    <div class="portfolio__slider__bottom">
                        <div class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">

                            <div class="portfolio__slider__shared-content">
                                <div class="portfolio__slider__shared-content-top">
                                    <img src="img/svg/shared-grey.svg" alt="">

                                    <div class="portfolio__slider__links-container">
                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/viber-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/telegram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/whatsapp-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/instagram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/facebook-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/vk-orange.svg" alt="">
                                        </a>
                                    </div>
                                </div>

                                <p class="portfolio__slider__copy-link" data-link="ССЫЛКА НА ПРОЕКТ">
                                    Скопировать ссылку
                                </p>
                            </div>
                        </div>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>

                </div>
            </div>

            <div class="news__card">
                <a href="#" class="news__img" style="background: url(../img/news/4.jpg) no-repeat center center / cover"></a>
                <div class="news__bottom">
                    <p class="news__text">
                        На фото 📸
                        Сдвижные полиуретановые шторы
                        Это как?🤔
                        Это значит, что сверху устанавливаются ролики и при необходимости шторы можно убрать в сторону👍
                        Уже на месте наши доблестные 😊 монтажники паяли, вырезали и подгоняли под размер, чтобы в итоге получилась вот такая красота 😍
                    </p>

                    <div class="portfolio__slider__bottom">
                        <div class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">

                            <div class="portfolio__slider__shared-content">
                                <div class="portfolio__slider__shared-content-top">
                                    <img src="img/svg/shared-grey.svg" alt="">

                                    <div class="portfolio__slider__links-container">
                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/viber-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/telegram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/whatsapp-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/instagram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/facebook-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/vk-orange.svg" alt="">
                                        </a>
                                    </div>
                                </div>

                                <p class="portfolio__slider__copy-link" data-link="ССЫЛКА НА ПРОЕКТ">
                                    Скопировать ссылку
                                </p>
                            </div>
                        </div>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>

                </div>
            </div>

            <div class="news__card">
                <a href="#" class="news__img" style="background: url(../img/news/5.jpg) no-repeat center center / cover"></a>
                <div class="news__bottom">
                    <p class="news__text">
                        На фото 📸
                        Сдвижные полиуретановые шторы
                        Это как?🤔
                        Это значит, что сверху устанавливаются ролики и при необходимости шторы можно убрать в сторону👍
                        Уже на месте наши доблестные 😊 монтажники паяли, вырезали и подгоняли под размер, чтобы в итоге получилась вот такая красота 😍
                    </p>

                    <div class="portfolio__slider__bottom">
                        <div class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">

                            <div class="portfolio__slider__shared-content">
                                <div class="portfolio__slider__shared-content-top">
                                    <img src="img/svg/shared-grey.svg" alt="">

                                    <div class="portfolio__slider__links-container">
                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/viber-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/telegram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/whatsapp-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/instagram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/facebook-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/vk-orange.svg" alt="">
                                        </a>
                                    </div>
                                </div>

                                <p class="portfolio__slider__copy-link" data-link="ССЫЛКА НА ПРОЕКТ">
                                    Скопировать ссылку
                                </p>
                            </div>
                        </div>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>

                </div>
            </div>

            <div class="news__card">
                <a href="#" class="news__img" style="background: url(../img/news/6.jpg) no-repeat center center / cover"></a>
                <div class="news__bottom">
                    <p class="news__text">
                        На фото 📸

                    </p>

                    <div class="portfolio__slider__bottom">
                        <div class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">

                            <div class="portfolio__slider__shared-content">
                                <div class="portfolio__slider__shared-content-top">
                                    <img src="img/svg/shared-grey.svg" alt="">

                                    <div class="portfolio__slider__links-container">
                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/viber-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/telegram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/whatsapp-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/instagram-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/facebook-orange.svg" alt="">
                                        </a>

                                        <a href="#" class="portfolio__slider__link-img">
                                            <img src="img/svg/vk-orange.svg" alt="">
                                        </a>
                                    </div>
                                </div>

                                <p class="portfolio__slider__copy-link" data-link="ССЫЛКА НА ПРОЕКТ">
                                    Скопировать ссылку
                                </p>
                            </div>
                        </div>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>

                </div>
            </div>
        </div>

        <a href="#" class="show-more default-button">
            Больше новостей
        </a>
    </div>
</section>

<section class="orange-bg orange-padding section competitors-offets">
    <div class="container container_competitors-offets">

        <div class="competitors-offets__text">
            <h3 class="white-subtitle">Нашли выгодное предложение у конкурентов?</h3>
            <p class="white-description white-description_competitors-offets">
                Отправь нам это комерческое предложение и
                мы предоставим вам лучшее условие.
            </p>
        </div>

        <form action="" class="name-phone-form name-phone-form_file">
            <div class="name-phone-form__input-file-container">
                <label class="name-phone-form__label">
                    <input class="name-phone-form__input-file" type="file">
                    <img src="img/svg/file-form.svg" alt="" class="name-phone-form__file-img">
                    <p class="name-phone-form__file-img-description">
                        Загрузите файл с предложением
                    </p>
                </label>
            </div>

            <div class="name-phone-form__inputs name-phone-form__inputs__file">
                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
            </div>
        </form>
    </div>
</section>

<section class="section section_catalog section-padding">
    <div class="container container__catalog">
        <h2 class="default-section-title">Солнцезащитные системы Sunproof</h2>
        <div class="row__catalog">
            <div class="catalog-card">
                <div class="catalog-card__background"  style="background: url(img/sun-protection-system/1.jpg) no-repeat center center / cover"></div>
                <div class="catalog-card__content">
                    <h3 class="catalog-card__title">Остекление</h3>
                    <p class="catalog-card__description">
                        Современная боковая защита проемов.
                        Есть два вида остекления: горизонтальное
                        сдвижное остевление и вертекальное подъемное остекление.
                    </p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="catalog-card__link default-button">Подробнее</a>
                        <p class="catalog-card__price">от 64 380 ₽</p>
                    </div>
                </div>
            </div>

            <div class="vertical-catalog-container">
                <div class="catalog-card">
                    <div class="catalog-card__background"  style="background: url(img/sun-protection-system/2.jpg) no-repeat center center / cover"></div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">Роллетные системы</h3>
                        <p class="catalog-card__description">
                            Рольставни – надежный способ защиты любых дверных и оконных проемов.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            <p class="catalog-card__price">от 64 380 ₽</p>
                        </div>
                    </div>
                </div>

                <div class="catalog-card">
                    <div class="catalog-card__background"  style="background: url(img/sun-protection-system/3.jpg) no-repeat center center / cover"></div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">Жалюзи</h3>
                        <p class="catalog-card__description">
                            Светозащитные устройства, состоящие из вертикальных и горизонтальных пластин.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            <p class="catalog-card__price">от 64 380 ₽</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row__catalog reverse">

            <div class="catalog-card">
                <div class="catalog-card__background" style="background: url(img/sun-protection-system/6.jpg) no-repeat center center / cover"></div>
                <div class="catalog-card__content">
                    <h3 class="catalog-card__title">Террасная доска</h3>
                    <p class="catalog-card__description">
                        Террасная доска используется для укладки настила на террасе.
                        Такой пол идеально подходит для улиц и наружных площадок в загородных домах и летних кафе.
                    </p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="catalog-card__link default-button">Подробнее</a>
                        <p class="catalog-card__price">от 64 380 ₽</p>
                    </div>
                </div>
            </div>


            <div class="vertical-catalog-container">
                <div class="catalog-card">
                    <div class="catalog-card__background" style="background: url(img/sun-protection-system/6.jpg) no-repeat center center / cover"></div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">Антимоскитные сетки</h3>
                        <p class="catalog-card__description">
                            Москитная или противомоскитная сетка - высокоэффективный, достаточно экономичный способ защиты от москитов и попадания пыли.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            <p class="catalog-card__price">от 64 380 ₽</p>
                        </div>
                    </div>
                </div>

                <div class="catalog-card">
                    <div class="catalog-card__background" style="background: url(img/sun-protection-system/5.jpg) no-repeat center center / cover"></div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">Чехлы</h3>
                        <p class="catalog-card__description">
                            Чехлы из мягкого материала, сделанные по форме предмета и защищающая его от внешних воздействий.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            <p class="catalog-card__price">от 64 380 ₽</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
