<% var data = {
title: "Sunproof | Портфолио"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="bread">
    <div class="container">
        <ul class="bread__list">
            <li class="bread__item">
                <a href="index.html" class="bread__link">
                    Главная
                </a>
            </li>
            <li class="bread__item">
                <p  class="bread__link">
                    Портфолио
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="section portfolio section-padding portfolio-page-section">
    <div class="container">
        <h2 class="default-section-title">Портфолио</h2>
        <h3 class="default-sub-title">Перголы</h3>
        <div class="portfolio__slider slider-3-2-1">
            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/pergolas/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/pergolas/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/pergolas/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/pergolas/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/pergolas/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/pergolas/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="show-more default-button show-more_last-news">
                В каталог пергол
            </a>
        </div>
    </div>
</section>

<section class="section portfolio pt-0 section-padding portfolio-page-section">
    <div class="container">
        <h3 class="default-sub-title">Маркизы</h3>
        <div class="portfolio__slider slider-3-2-1">
            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/marquises/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/marquises/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/marquises/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/marquises/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/marquises/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/marquises/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="show-more default-button show-more_last-news">
                В каталог маркиз
            </a>
        </div>
    </div>
</section>

<section class="section portfolio pt-0 section-padding portfolio-page-section">
    <div class="container">
        <h3 class="default-sub-title">Жалюзи</h3>
        <div class="portfolio__slider slider-3-2-1">
            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/window-blind/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/window-blind/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/window-blind/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/window-blind/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/window-blind/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/window-blind/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="show-more default-button show-more_last-news">
                В каталог жалюзей
            </a>
        </div>
    </div>
</section>

<section class="section portfolio pt-0 section-padding portfolio-page-section">
    <div class="container">
        <h3 class="default-sub-title">Окна, шторы ПВХ</h3>
        <div class="portfolio__slider slider-3-2-1">
            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/windows/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/windows/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/windows/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/windows/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/windows/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/windows/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="show-more default-button show-more_last-news">
                В каталог штор ПВХ
            </a>
        </div>
    </div>
</section>

<section class="section portfolio pt-0 section-padding portfolio-page-section">
    <div class="container">
        <h3 class="default-sub-title">Роллетные системы</h3>
        <div class="portfolio__slider slider-3-2-1">
            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/roll-up-systems/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/roll-up-systems/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/roll-up-systems/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/roll-up-systems/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/roll-up-systems/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/roll-up-systems/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="show-more show-more_portfolio default-button show-more_last-news">
                В каталог роллетных систем
            </a>
        </div>
    </div>
</section>

<section class="section portfolio pt-0 section-padding portfolio-page-section">
    <div class="container">
        <h3 class="default-sub-title">Антимоскитные сетки</h3>
        <div class="portfolio__slider slider-3-2-1">
            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/nets/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/nets/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/nets/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/nets/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/nets/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/nets/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="show-more show-more_portfolio default-button show-more_last-news">
                К антимоскитным сеткам
            </a>
        </div>
    </div>
</section>

<section class="section portfolio pt-0 section-padding portfolio-page-section">
    <div class="container">
        <h3 class="default-sub-title">Чехлы</h3>
        <div class="portfolio__slider slider-3-2-1">
            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/cases/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/cases/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/cases/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/cases/1.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/cases/2.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>

            <div class="portfolio__slider__item">
                <div class="portfolio__slider__img" style="background: url(img/portfolio/cases/3.jpg) no-repeat center center / cover"></div>

                <div class="portfolio__slider__text-container">
                    <p class="portfolio__slider__text">
                        Проект по изготовлению и монтажу перголы в загородном доме. Краткое описание проекта в три строки.
                    </p>

                    <a href="#" class="portfolio__slider__link">Подробнее о проекте</a>

                    <div class="portfolio__slider__bottom">
                        <a href="#" class="portfolio__slider__shared-link">
                            <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
                        </a>

                        <p class="portfolio__slider__date">21.01.2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="show-more show-more_portfolio default-button show-more_last-news">
                В каталог чехлов
            </a>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
