<% var data = {
title: "Sunproof | Прозрачные рольставни для летней веранды"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="bread">
    <div class="container">
        <ul class="bread__list">
            <li class="bread__item">
                <a href="index.html" class="bread__link">
                    Главная
                </a>
            </li>
            <li class="bread__item">
                <a href="portfolio.html" class="bread__link">
                    Портфолио
                </a>
            </li>
            <li class="bread__item">
                <p  class="bread__link">
                    Прозрачные рольставни для летней веранды
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="project section section-padding">
    <div class="container">
        <h2 class="default-section-title">Прозрачные рольставни для летней веранды</h2>


        <div class="project__content__top">
            <a href="#">
                <img src="img/svg/shared.svg" alt="" class="portfolio__slider__shared-img">
            </a>
            <p class="project__content__date">
                21.01.2020
            </p>
            <p class="project__content__author">
                автор:
                <a class="project__content__author-link" href="#">
                    Иванов Александр
                </a>
            </p>
        </div>
        <div class="project__content">
            <img src="img/project/1.jpg" alt="" style="float: left; margin-right: 32px; margin-bottom: 32px;">

            <p><a href="">Прозрачные рольставни</a> относительно новое изделие на рынке. В таких рольставнях используется поликарбонат или закаленное стекло.
                Их главное и очевидное преимущество в сравнении с классическими  — они пропускают свет и при этом являются очень прочными для взлома.
                Данную работу мы делали в Подмосковье для веранды загородного дома.
                Как вы можете видеть на фото, рольставни — ребра жесткости, направляющие ноги и короб открашены в коричневый цвет, как и крыша.</p>

            <div style="clear: both;"></div>

            <p>Часть рольставней имеет ручное управление.
                «ПИМ» — пружинно-возвратный механизм, который облегчает приложение
                усилий для открывания или закрывания.
                Фиксируется данный механизм при помощи боковых задвижек.
                Их вы можете видеть на фото ниже.</p>

            <div class="default-slider slider-1-1-1 project__slider">
                <div class="default-slider__item">
                    <img src="img/project/2.jpg" alt="" class="default-slider__img">
                </div>

                <div class="default-slider__item">
                    <img src="img/project/2.jpg" alt="" class="default-slider__img">
                </div>

                <div class="default-slider__item">
                    <img src="img/project/2.jpg" alt="" class="default-slider__img">
                </div>
            </div>

            <iframe style="max-width: 100%; float: right; margin-left: 32px; margin-bottom: 32px;" width="560" height="315" src="https://www.youtube.com/embed/6TnIWRoZctg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p><a href="">Прозрачные рольставни</a> относительно новое изделие на рынке. В таких рольставнях используется поликарбонат или закаленное стекло.
                Их главное и очевидное преимущество в сравнении с классическими  — они пропускают свет и при этом являются очень прочными для взлома.
                Данную работу мы делали в Подмосковье для веранды загородного дома.
                Как вы можете видеть на фото, рольставни — ребра жесткости, направляющие ноги и короб открашены в коричневый цвет, как и крыша.</p>

            <div style="clear: both;"></div>

            <p>Часть рольставней имеет ручное управление.
                «ПИМ» — пружинно-возвратный механизм, который облегчает приложение
                усилий для открывания или закрывания.
                Фиксируется данный механизм при помощи боковых задвижек.
                Их вы можете видеть на фото ниже.</p>
        </div>
    </div>
</section>

<section class="section section_catalog dirty-white-bg section-padding">
    <div class="container container__catalog">
        <h2 class="default-section-title">Солнцезащитные системы Sunproof</h2>
        <div class="row__catalog">
            <div class="catalog-card">
                <div class="catalog-card__background"  style="background: url(img/sun-protection-system/1.jpg) no-repeat center center / cover"></div>
                <div class="catalog-card__content">
                    <h3 class="catalog-card__title">Остекление</h3>
                    <p class="catalog-card__description">
                        Современная боковая защита проемов.
                        Есть два вида остекления: горизонтальное
                        сдвижное остевление и вертекальное подъемное остекление.
                    </p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="catalog-card__link default-button">Подробнее</a>
                        <p class="catalog-card__price">от 64 380 ₽</p>
                    </div>
                </div>
            </div>

            <div class="vertical-catalog-container">
                <div class="catalog-card">
                    <div class="catalog-card__background"  style="background: url(img/sun-protection-system/2.jpg) no-repeat center center / cover"></div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">Роллетные системы</h3>
                        <p class="catalog-card__description">
                            Рольставни – надежный способ защиты любых дверных и оконных проемов.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            <p class="catalog-card__price">от 64 380 ₽</p>
                        </div>
                    </div>
                </div>

                <div class="catalog-card">
                    <div class="catalog-card__background"  style="background: url(img/sun-protection-system/3.jpg) no-repeat center center / cover"></div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">Жалюзи</h3>
                        <p class="catalog-card__description">
                            Светозащитные устройства, состоящие из вертикальных и горизонтальных пластин.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            <p class="catalog-card__price">от 64 380 ₽</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row__catalog reverse">

            <div class="catalog-card">
                <div class="catalog-card__background" style="background: url(img/sun-protection-system/6.jpg) no-repeat center center / cover"></div>
                <div class="catalog-card__content">
                    <h3 class="catalog-card__title">Террасная доска</h3>
                    <p class="catalog-card__description">
                        Террасная доска используется для укладки настила на террасе.
                        Такой пол идеально подходит для улиц и наружных площадок в загородных домах и летних кафе.
                    </p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="catalog-card__link default-button">Подробнее</a>
                        <p class="catalog-card__price">от 64 380 ₽</p>
                    </div>
                </div>
            </div>


            <div class="vertical-catalog-container">
                <div class="catalog-card">
                    <div class="catalog-card__background" style="background: url(img/sun-protection-system/6.jpg) no-repeat center center / cover"></div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">Антимоскитные сетки</h3>
                        <p class="catalog-card__description">
                            Москитная или противомоскитная сетка - высокоэффективный, достаточно экономичный способ защиты от москитов и попадания пыли.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            <p class="catalog-card__price">от 64 380 ₽</p>
                        </div>
                    </div>
                </div>

                <div class="catalog-card">
                    <div class="catalog-card__background" style="background: url(img/sun-protection-system/5.jpg) no-repeat center center / cover"></div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">Чехлы</h3>
                        <p class="catalog-card__description">
                            Чехлы из мягкого материала, сделанные по форме предмета и защищающая его от внешних воздействий.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="#" class="catalog-card__link default-button">Подробнее</a>
                            <p class="catalog-card__price">от 64 380 ₽</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="orange-bg orange-padding section competitors-offets">
    <div class="container container_competitors-offets about__form">

        <div class="competitors-offets__text competitors-offets__text_reverse">
            <h3 class="white-subtitle">«‎Единственный способ сделать выдающуюся работу — искренне любить то, что делаешь.»</h3>
            <p class="white-description white-description_competitors-offets">
                Стив Джобс (Steve Jobs)
            </p>
        </div>

        <form action="" class="name-phone-form name-phone-form_file">
            <div class="name-phone-form__left">
                <h3 class="name-phone-form__title">У вас остались вопросы?</h3>
                <p class="name-phone-form__text">Оставьте нам свой номер и мы вам перезвоним</p>
            </div>

            <div class="name-phone-form__inputs name-phone-form__inputs__file">
                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                </div>

                <div class="position-relative">
                    <p class="input-error">Ошибка! Заполните поле</p>
                    <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                    <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                </div>

                <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
            </div>
        </form>
    </div>
</section>

<section class="portfolio-preview section section-padding">
    <div class="container container_portfolio-preview">
        <h2 class="default-section-title">Еще работы</h2>

        <div class="portfolio-preview__cards">
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/1.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/2.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/3.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/4.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/5.jpg) no-repeat center center / cover"></div>
            </a>
            <a href="#" class="portfolio-preview__card">
                <div class="portfolio-preview__background" style="background: url(img/portfolio-view/6.jpg) no-repeat center center / cover"></div>
            </a>
        </div>

        <a href="#" class="show-more default-button">
            Больше работ
        </a>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
