<% var data = {
title: "Sunproof | Отзывы"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="bread">
    <div class="container">
        <ul class="bread__list">
            <li class="bread__item">
                <a href="index.html" class="bread__link">
                    Главная
                </a>
            </li>
            <li class="bread__item">
                <p  class="bread__link">
                    Отзывы
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="reviews section section-padding">
    <div class="container">
        <h2 class="default-section-title">Отзывы</h2>

        <div class="reviews__cards slider-2-2-1">
            <div class="reviews__card">
                <div class="reviews__card__img" style="background: url(img/reviews/1.jpg) no-repeat center center / cover"></div>
                <div class="reviews__card__description">
                    <div class="comments-slider__item__top">
                        <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                        <div class="d-flex align-items-center">
                            <div class="comments-slider__item__stars">
                                <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                            </div>
                            <p class="comments-slider__item__number">4/5</p>
                        </div>
                    </div>
                    <div class="reviews__card__text">
                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!

                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    </div>
                </div>
            </div>

            <div class="reviews__card">
                <div class="reviews__card__img" style="background: url(img/reviews/1.jpg) no-repeat center center / cover"></div>
                <div class="reviews__card__description">
                    <div class="comments-slider__item__top">
                        <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                        <div class="d-flex align-items-center">
                            <div class="comments-slider__item__stars">
                                <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                            </div>
                            <p class="comments-slider__item__number">4/5</p>
                        </div>
                    </div>
                    <div class="reviews__card__text">
                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    </div>
                </div>
            </div>

            <div class="reviews__card">
                <div class="reviews__card__img" style="background: url(img/reviews/1.jpg) no-repeat center center / cover"></div>
                <div class="reviews__card__description">
                    <div class="comments-slider__item__top">
                        <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                        <div class="d-flex align-items-center">
                            <div class="comments-slider__item__stars">
                                <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                            </div>
                            <p class="comments-slider__item__number">4/5</p>
                        </div>
                    </div>
                    <div class="reviews__card__text">
                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    </div>
                </div>
            </div>

            <div class="reviews__card">
                <div class="reviews__card__img" style="background: url(img/reviews/1.jpg) no-repeat center center / cover"></div>
                <div class="reviews__card__description">
                    <div class="comments-slider__item__top">
                        <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                        <div class="d-flex align-items-center">
                            <div class="comments-slider__item__stars">
                                <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                            </div>
                            <p class="comments-slider__item__number">4/5</p>
                        </div>
                    </div>
                    <div class="reviews__card__text">
                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reviews reviews_video section section-padding">
    <div class="container">
        <h2 class="default-section-title">Видео отзывы</h2>

        <div class="reviews__cards slider-2-2-1">
            <div class="reviews__card">
                <div class="reviews__card__video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Y3TJ0gAUwm8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews__card__description">
                    <div class="comments-slider__item__top">
                        <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                        <div class="d-flex align-items-center">
                            <div class="comments-slider__item__stars">
                                <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                            </div>
                            <p class="comments-slider__item__number">4/5</p>
                        </div>
                    </div>
                    <div class="reviews__card__text">
                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!

                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    </div>
                </div>
            </div>

            <div class="reviews__card">
                <div class="reviews__card__video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Y3TJ0gAUwm8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews__card__description">
                    <div class="comments-slider__item__top">
                        <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                        <div class="d-flex align-items-center">
                            <div class="comments-slider__item__stars">
                                <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                            </div>
                            <p class="comments-slider__item__number">4/5</p>
                        </div>
                    </div>
                    <div class="reviews__card__text">
                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!

                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    </div>
                </div>
            </div>

            <div class="reviews__card">
                <div class="reviews__card__video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Y3TJ0gAUwm8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews__card__description">
                    <div class="comments-slider__item__top">
                        <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                        <div class="d-flex align-items-center">
                            <div class="comments-slider__item__stars">
                                <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                            </div>
                            <p class="comments-slider__item__number">4/5</p>
                        </div>
                    </div>
                    <div class="reviews__card__text">
                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!

                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    </div>
                </div>
            </div>

            <div class="reviews__card">
                <div class="reviews__card__video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Y3TJ0gAUwm8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews__card__description">
                    <div class="comments-slider__item__top">
                        <div class="comments-slider__item__date">Mar 20, 2018 от Владислав</div>
                        <div class="d-flex align-items-center">
                            <div class="comments-slider__item__stars">
                                <div class="comments-slider__item__stars-in" style="width: 80%;"></div>
                            </div>
                            <p class="comments-slider__item__number">4/5</p>
                        </div>
                    </div>
                    <div class="reviews__card__text">
                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!

                        Заказывал у ребят мягкие окна для своей веранды, на замер приехали на следующий день в оговоренное время, на монтаже были как и обещали через 3 дня, к сожалению я не смог присутствовать во время работы ребят, работу принимал сосед. Когда я приехал, был приятно удивлен, стало чище чем было, свою веранду не узнал.
                        В компетентности ребят ни капли не сомневаюсь. Буду рекомендовать Вас друзьям. Спасибо!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section enough-review orange-bg orange-padding">
    <div class="container">
        <h3 class="white-subtitle">Оставьте отзыв о нас</h3>

        <form action="" class="enough-review-form">
            <p class="enough-review-form__text">
                Ваша оценка
            </p>
            <div class="enough-review-form__top">
                <div class="rating-to-send__container">
                    <div class="rating-to-send">
                        <div class="rating-to-send__in" style="width: 20%;"></div>
                    </div>

                    <p class="rating-to-send__numbers"><span id="ratingNumber">1</span>/5</p>
                    <!--  Рейтинг забирать отсюда-->
                    <input name="rating" type="number" id="rating" class="d-none">
                </div>

                <label class="name-phone-form__label name-phone-form__label_reviews">
                    <input class="name-phone-form__input-file" type="file">
                    <img src="img/svg/file-form.svg" alt="" class="name-phone-form__file-img name-phone-form__file-img_reviews">
                    <p class="name-phone-form__file-img-description name-phone-form__file-img-description_review">
                        Загрузите фото работы нашей компании <span>(необязательно)</span>
                    </p>
                </label>
            </div>

            <div class="enough-review-form__inputs">
                <div class="enough-review-form__textarea-container">
                    <textarea class="enough-review-form__textarea" placeholder="Ваш отзыв"></textarea>

                    <label class="enough-review-form__checkbox-label">
                        <input type="checkbox" class="enough-review-form__checkbox">
                        <div class="enough-review-form__checkbox-span">
                            <div class="enough-review-form__checkbox-span__in"></div>
                        </div>

                        <p class="enough-review-form__text enough-review-form__text_mini">
                            Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
                        </p>
                    </label>
                </div>


                <div class="name-phone-form__inputs name-phone-form__inputs_review">
                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="Ваше имя">
                    </div>

                    <div class="position-relative">
                        <p class="input-error">Ошибка! Заполните поле</p>
                        <img src="img/svg/error-cross.svg" alt="" class="error-cross">
                        <input type="text" class="name-phone-form__input" placeholder="+7 ___  ___ __ __">
                    </div>

                    <input type="submit" class="name-phone-form__submit default-button" value="Отправить">
                </div>
            </div>
        </form>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
