// fonts
$inter: 'Inter';

// colors

$textColor: #777777;
$textColorHover: #595959;
$secondTextColor: #595959;
$secondTextColorHover: #FF630B;
$secondTextColorActive: #777777;


$placeholderColor: #B8B8B8;
$borderColor:  #B8B8B8;
$activeBorder: #FF630B;

$clearWhite: #ffffff;
$dirtyWhite: #F8F8F8;
$whopperColor: #FF630B;

$footerBg: #595959;

$errorColor: #FF0000;

$breadColor: #B6B6B6;

// colors for buttons

$defaultBtnColor: #FF630B;
$hoverDefaultBtnColor: #F34900;

// blocks

$orangeBg: #FF630B;

// popup

$popupBacground: rgba(51, 51, 51, 0.8);
